@import "_colors.less";

/* ====================================
                Banner
====================================*/

#banner {
    margin: 25px 0;
    background-image: url('../jpg/ship-banner.jpg');
    width: 100%;
    height: 50vmin;
    background-size: 100%;
    background-repeat: no-repeat;
    
    #action-button {
    	text-align: center;
    	position: relative;
    	top: 50%;
    	a {
    		text-decoration: none;
    	}
	    input {
	    	color: white;
	    	padding-top: 10px;
	    	padding-bottom: 10px;
	    	padding-left: 50px;
	    	padding-right: 50px;
	    	background-color: @orange;
	    	font-weight: 300;
	    	font-size: 35px;
	    	border: 1px solid white;
	    	cursor: pointer;
	    }
	 	input:hover {
	 		background-color: #c73001;
	 		transition: 0.5s;
	 	}
    }
}

/* ====================================
                Content
====================================*/
.tille1 {
    margin: 25px 0;
    width: 100%;
    text-align: left;
    h1 {
        font-size: 26px;
    }
    span {
    	font-size: 20px;
    }
    p {
        font-size: 20px;
    }
}
.tille2 {
    width: 100%;
    font-size: 16px;
    padding: 0 0 0 20px;
    ol {
    	line-height: 30px;
    	ul {
    	    margin: 0 0 0 50px;
    	}
    }
}

/* ====================================
                Contact
====================================*/
.contact-form {
    margin: 25px 0;
    text-align: left;
	h3 {
	    line-height: 30px;
		span {
			font-weight: 600;
			opacity: 0.75;
			a {
				text-decoration: none;
				color: @orange;
			}
		}
		span:hover {
			opacity: 1;
			transition: 0.5s;
		}
	}
}





