{% extends "layout.html" %}

{% block content %}
<div class="container">
	<form method="POST" action="{{ url_for('pit11') }}">
		
		<div id="tabelka">
			
			<fieldset>
				<legend>Ilość pitów-11:</legend>
				<select name="pit11_ilosc" id="numberPits">
					<option value="1">    1    </option>
					<option value="2">    2    </option>
					<option value="3">    3    </option>
					<option value="4">    4    </option>
					<option value="5">    5    </option>
					<option value="6">    6    </option>
					<option value="7">    7    </option>
					<option value="8">    8    </option>
					<option value="9">    9    </option>
				</select>
			</fieldset>
			
			<fieldset>
				<legend>Forma rozliczenia:</legend>
				<select name="sposob" id="way" >
					<option value="1">Indywidualnie</option>
					<option value="2">Wspólnie z małżonkiem</option>
					<option value="3">Wspólnie ze zmarłym małżonkiem</option>
					<option value="4">Osoba samotnie wychowująca dziecko</option>
				</select>
			</fieldset>
			
			<fieldset>
				<legend>Ilość pitów-11 małżonka:</legend>
				<select name="pit11_ilosc_m" id="numberPitsWife" >
					<option value="-1">Wybierz ilość</option>
					<option value="1">    1    </option>
					<option value="2">    2    </option>
					<option value="3">    3    </option>
					<option value="4">    4    </option>
					<option value="5">    5    </option>
					<option value="6">    6    </option>
					<option value="7">    7    </option>
					<option value="8">    8    </option>
					<option value="9">    9    </option>
				</select>
			</fieldset>
			
			<fieldset>
				<legend><label for="jeden-procent">1% podatku:</label></legend>
				<input id="jeden-procent" type="text" name="jeden_procent" maxlength="10" placeholder="KRS" /><br>
				<input id="cel" type="text" name="cel" maxlength="35" placeholder="Cel szczegółowy" />
                <p><strong>Nie wiesz na co przeznaczyć 1% podatku, moje propozycje:</strong></p>
                <p>MiszczJoda 0000270809, dopisek Jacykowski, 3568</p>
                <p>Wikipedia 0000244732</p>
			</fieldset>
			
			<fieldset>
				<legend><label for="internet">Internet (MAX 760 zł):</label></legend>
				<select name="kto_internet" >
					<option value="1">Podatnik</option>
					<option value="2">Małżonek</option>
				</select>
				<br>
				<input id="internet" type="text" name="internet" placeholder="Kwota" />
			</fieldset>
			
			<fieldset>
				<legend>Dzieci:</legend>
				<select name="dzieci" id="ileDzieci">
					<option value="0">    0    </option>
					<option value="1">    1    </option>
					<option value="2">    2    </option>
					<option value="3">    3    </option>
					<option value="4">    4    </option>
				</select>
                
				<div id="dzieci">
                    <legend>Dziecko 1:</legend>
                    <select name="kto_dzieci_1" >
                        <option value="1">Podatnik</option>
                        <option value="2">Małżonek</option>
                    </select>

                    <select name="ile_miesiecy_1" >
                        <option value="12">    Cały rok    </option>
                        <option value="11">    11 m-cy    </option>
                        <option value="10">    10 m-cy   </option>
                        <option value="9">    9 m-cy   </option>
                        <option value="8">    8 m-cy   </option>
                        <option value="7">    7 m-cy   </option>
                        <option value="6">    6 m-cy   </option>
                        <option value="5">    5 m-cy   </option>
                        <option value="4">    4 m-ce   </option>
                        <option value="3">    3 m-ce   </option>
                        <option value="2">    2 m-ce   </option>
                        <option value="1">    1 m-c   </option>
                    </select>

                    <legend>Dziecko 2:</legend>
                    <select name="kto_dzieci_2" >
                        <option value="1">Podatnik</option>
                        <option value="2">Małżonek</option>
                    </select>

                    <select name="ile_miesiecy_2" >
                        <option value="12">    Cały rok    </option>
                        <option value="11">    11 m-cy    </option>
                        <option value="10">    10 m-cy   </option>
                        <option value="9">    9 m-cy   </option>
                        <option value="8">    8 m-cy   </option>
                        <option value="7">    7 m-cy   </option>
                        <option value="6">    6 m-cy   </option>
                        <option value="5">    5 m-cy   </option>
                        <option value="4">    4 m-ce   </option>
                        <option value="3">    3 m-ce   </option>
                        <option value="2">    2 m-ce   </option>
                        <option value="1">    1 m-c   </option>
                    </select>

                    <legend>Dziecko 3:</legend>
                    <select name="kto_dzieci_3" >
                        <option value="1">Podatnik</option>
                        <option value="2">Małżonek</option>
                    </select>

                    <select name="ile_miesiecy_3" >
                        <option value="12">    Cały rok    </option>
                        <option value="11">    11 m-cy    </option>
                        <option value="10">    10 m-cy   </option>
                        <option value="9">    9 m-cy   </option>
                        <option value="8">    8 m-cy   </option>
                        <option value="7">    7 m-cy   </option>
                        <option value="6">    6 m-cy   </option>
                        <option value="5">    5 m-cy   </option>
                        <option value="4">    4 m-ce   </option>
                        <option value="3">    3 m-ce   </option>
                        <option value="2">    2 m-ce   </option>
                        <option value="1">    1 m-c   </option>
                    </select>

                    <legend>Dziecko 4:</legend>
                    <select name="kto_dzieci_4" >
                        <option value="1">Podatnik</option>
                        <option value="2">Małżonek</option>
                    </select>

                    <select name="ile_miesiecy_4" >
                        <option value="12">    Cały rok    </option>
                        <option value="11">    11 m-cy    </option>
                        <option value="10">    10 m-cy   </option>
                        <option value="9">    9 m-cy   </option>
                        <option value="8">    8 m-cy   </option>
                        <option value="7">    7 m-cy   </option>
                        <option value="6">    6 m-cy   </option>
                        <option value="5">    5 m-cy   </option>
                        <option value="4">    4 m-ce   </option>
                        <option value="3">    3 m-ce   </option>
                        <option value="2">    2 m-ce   </option>
                        <option value="1">    1 m-c   </option>
                    </select>
                </div>
			</fieldset>

			<div class="button">
				<a href="#">
					<input  type="button" class="button" value="Dalej >>>" onclick="displayOn(); howManyPit11()"/>
				</a>
			</div>
			
		</div>
		<!-- /tabelka -->
		
		<div id="pity11">
			
			<div id="pit11numberOne">
			
                <div id="numerPitaPodatnik">
                    <div class="frameOutside">1</div>
                    <div class="whosPit">Podatnik</div>
                    <div style="clear: both;"></div>
                </div>
			
			<div class="poltax_header">
                <div class="poltax37"><p>POLTAX</p></div>
                <div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
                    MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
                </div>
            </div>
            <hr style="clear: both;">
            
			<div class="two white">
				<div class="ide">
				1. Identyfikator podatkowy NIP płatnika
				</div>
				<div class="nr grey">2. Nr dokumentu</div>
				<div class="status grey">3. Status</div>
			</div>
            <div style="clear: both"></div>
                
			<div class="three white">
                <div class="pit-11"><h3>PIT-11</h3></div>
				<div class="informacja">
				<h3>INFORMACJA O DOCHODACH ORAZ O POBRANYCH ZALICZKACH <br>
                    NA PODATEK DOCHODOWY</h3>
				</div>
                <div class="w_roku"><h3>W ROKU</h3></div>
				<div class="rok">4.rok
                    <h3>
					<script>document.write(new Date().getFullYear() - 1)</script>
                    </h3>
				</div>
			</div>
            <div style="clear: both"></div> 
                
                
			<div class="four grey borders">
				<div class="podstawa">Podstawa prawna:</div>
				<div class="podstawa_b">Art. 39 ust. 1, art. 42 ust. 2 pkt 1 i art. 42e ust. 6 ustawy z dnia 26 lipca 1991 r. o podatku dochodowym od osób fizycznyc
				(Dz  U.  z  2012  r.  poz.  361,  z  późn.  zm.),  zwanej  dalej  ”ustawą”;  art.  35a  ust.  5  ustawy,  w  brzmieniu  obowiązującym  przed
				dniem 26 października 2007 r. 1).
				</div>
				<div class="skladajacy">Składający:</div>
				<div class="skladajacy_b">Płatnik podatku dochodowego od osób fizycznych</div>
				<div class="termin">Termin składania:</div>
				<div class="termin_b">Do  końca  lutego  roku  następującego  po  roku  podatkowym–wyłącznie dla  informacji  składanych  urzędowi skarbowemu  za
				pomocąśrodków  komunikacji  elektronicznej  lub  podatnikowi;  do  końca  stycznia  roku  następującego  po  roku  podatkowym
				w przypadku informacji skladanych urzędowi skarbowemu w formie pisemnej, zgodnie z art. 45ba ust. 2 ustaw <br>
				W przypadku gdyw trakcie roku podatkowego ustał obowiązek poboru zaliczki przez płatników, o których mowa w art. 39 ust.1
				ustawy–w  terminie  14  dni  od  złożenia  pisemnego  wniosku  przez podatnika,  w  przypadku  zaprzestania działalności  przez
				płatników, o których mowa w art. 41 ust. 1 ustawy, przed końcem lutego roku następującego po roku podatkowym–do dnia
				zaprzestania tej działalności.
				</div>
				<div class="otrzymuje">Otrzymuje:</div>
				<div class="otrzymuje_b">Podatnik oraz urząd skarbowy według miejsca zamieszkania podatnika, a w przypadku podatników, o których mowa w art. 3
				ust. 2a ustawy, urząd skarbowy w sprawach opodatkowania osób zagranicznych.
				</div>
			</div>
            <div style="clear: both"></div>     
                
			<div class="five grey borders">
                <h3>A. MIEJSCE I CEL SKŁADANIA INFORMACJI</h3>
				<div class="urzad5 white ">
					5. Urząd skarbowy, do którego adresowana jest informacja
						<input type="text" name="urzad5" value=""/>
				</div>
				<div class="cel6 white ">6. Cel złożenia formularza (zaznaczyć właściwy kwadrat):
				</div>
			</div>
            <div style="clear: both"></div>      
                
			<div class="six grey borders">
                <h3>B. DANE IDENTYFIKACYJNE PŁATNIKA</h3>
				<div class="rodzaj7 white ">
					7. Rodzaj płatnika (zaznaczyć właściwy kwadrat):
				</div>
				<div class="nazwa8 white ">
					8. Nazwa pełna, REGON *
				</div>
				<div class="nazwisko9 white ">
					9. Nazwisko, pierwsze imię, data urodzenia **
				</div>
			</div>
            <div style="clear: both"></div>    
                
			<div class="seven grey borders">
                <h3>C. DANE IDENTYFIKACYJNE I ADRES ZAMIESZKANIA PODATNIKA</h3>
				<div class="identyfikator10 white">
					10. Identyfikator podatkowy NIP / numer PESEL
					<div class="inputs">
						<input type="text" name="identyfikator10" value=""/>
					</div>
				</div>
				<div class="nid">
					<div class="nazwisko11 white">
						11. Nazwisko
						<div class="inputs">
							<input type="text" name="nazwisko11" value=""/>
						</div>
					</div>
					<div class="imie12 white">
						12. Pierwsze imię
						<div class="inputs">
							<input type="text" name="imie12" value=""/>
						</div>
					</div>
					<div class="data13 white">
						13. Data urodzenia (dzień-miesiąc-rok)
						<div class="inputs">
							<input type="text" name="data13" value=""/>
						</div>
					</div>
				</div>
				<div class="kwp grey">	
					<div class="kraj14 white">
						14. Kraj
						<div class="inputs">
							<input type="text" name="kraj14" value=""/>
						</div>
					</div>
					<div class="wojewodztwo15 white">
						15. Województwo
						<div class="inputs">
							<input type="text" name="wojewodztwo15" value=""/>
						</div>
					</div>
					<div class="powiat16 white">
						16. Powiat
						<div class="inputs">
							<input type="text" name="powiat16" value=""/>
						</div>
					</div>
				</div>
				<div class="gudl grey>">	
					<div class="gmina17 white">
						17. Gmina
						<div class="inputs">
							<input type="text" name="gmina17" value=""/>
						</div>
					</div>
					<div class="ulica18 white">
						18. Ulica
						<div class="inputs">
							<input type="text" name="ulica18" value=""/>
						</div>
					</div>
					<div class="dom19 white">
						19. Nr domu
						<div class="inputs">
							<input type="text" name="dom19" value=""/>
						</div>
					</div>
					<div class="lokal20 white">
						20. Nr lokalu
						<div class="inputs">
							<input type="text" name="lokal20" value=""/>
						</div>
					</div>
				</div>
				<div class="mkp grey">
					<div class="miejscowosc21 white">
						21. Miejscowość
						<div class="inputs">
							<input type="text" name="miejscowosc21" value=""/>
						</div>
					</div>
					<div class="kod22 white">
						22. Kod pocztowy
						<div class="inputs">
							<input type="text" name="kod22" value=""/>
						</div>
					</div>
					<div class="poczta23 white">
						23. Poczta
						<div class="inputs">
							<input type="text" name="poczta23" value=""/>
						</div>
					</div>
				</div>
			</div>
            <div style="clear: both"></div>      
                
                
			<div class="eight grey borders">
				<h3>D. INFORMACJA O KOSZTACH ZYSKANIA PRZYCHODU Z TYTUŁU STOSUNKU SŁUŻBOWEGO, <br>
                    STOSUNKU PRACY, SPÓŁDZIELCZEGO STOSUNKU PRACY ORAZ PRACY NAKŁADCZEJ</h3>
				<div class="koszty24 white">
					24. Koszty uzyskania przychodów, wykazane w poz. 26, zostały uwzględnione do wysokości przysługującej podatnikowi:
				</div>
			</div>
            <div style="clear: both"></div> 
                
			<div id="tabelaSkladki" class="nine grey borders">
                <h3>E. DOCHODY PODATNIKA, POBRANE ZALICZKI ORAZ POBRANE SKŁADKI 6)</h3>
				<div class="zrodla white">
					<table class="tab white borders" border="1">
						<tr class="title">
							<td class="a">Źródła przychodów</td>
							<td class="b">Przychód 4)</td>
							<td class="c">Koszty uzyskania przychodów 5)</td>
							<td class="d">Dochód (b - c)</td>
							<td class="e">Dochód zwolniony od podatków 4)</td>
							<td class="f">Zaliczka pobrana przez płatnika</td>
						</tr>
						<tr class="title">
							<td class="a">a</td>
							<td class="b">b</td>
							<td class="c">c</td>
							<td class="d">d</td>
							<td class="e">e</td>
							<td class="f">f</td>
						</tr>
						<tr>
							<td class="a" rowspan="2"><b>1. Należności ze stosunku: pracy, służbowego,
								 spółdzielczego i z pracy nakładczej, a także 
								 zasiłki pieniężne z ubezpieczenia społecznego
								 wypłacone przez zakład pracy, o którym mowa
								 w art. 31 ustawy, oraz płatników, o których
								 mowa w art. 42e ust. 1 ustawy </b><br>
								 W poz. 30 należy wykazać przychody, do których
								 zastosowano odliczenie kosztów uzyskania
								  przychodów na podstawie art. 22 ust. 9 pkt 3 ustawy.
							</td>
							<td class="b">
								25.
								<div class="inputs">
									<input type="text" name="przychod25p0" value=""/>
								</div>
							</td>
							<td class="c">
								26.
								<div class="inputs">
									<input type="text" name="koszt26p0" value=""/>
								</div>
							</td>
							<td class="d" rowspan="2">
								27.
							</td>
							<td class="e" rowspan="2">
								28.
							</td>
							<td class="f" rowspan="2">
								29.
								<div class="inputs">
									<input type="text" name="zaliczka29p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="b">
								30.
								<div class="inputs">
									<input type="text" name="przychod30p0" value=""/>
								</div>
							</td>
							<td class="c">
								31.
								<div class="inputs">
									<input type="text" name="koszt31p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a">
								 2. Należności z tytułu członkostwa w rolnicze
								 spółdzielni produkcyjnej lub innej spółdzielni
								 zajmującej się produkcją rolną oraz zasiłki
								 pieniężne z ubezpieczenia społecznego
								 </td>
							<td class="b">
								32.
								<div class="inputs">
									<input type="text" name="przychod32p0" value=""/>
								</div>
							</td>
							<td class="c grey" rowspan="4"></td>
							<td class="d">
								33.
							</td>
							<td class="e grey"></td>
							<td class="f">
								34.
								<div class="inputs">
									<input type="text" name="zaliczka34p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a">3. Emerytury – renty zagraniczne</td>
							<td class="b">
								35.
								<div class="inputs">
									<input type="text" name="przychod35p0" value=""/>
								</div>
							</td>
							<td class="d">
								36.
							</td>
							<td class="e">
								37.
							</td>
							<td class="f">
								38.
								<div class="inputs">
									<input type="text" name="zaliczka38p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 4. Należności za pracę przypadające tymczasowo
							aresztowanym lub skazanym</td>
							<td class="b">
								39.
								<div class="inputs">
									<input type="text" name="przychod39p0" value=""/>
								</div>
							</td>
							<td class="d">
								40.
							</td>
							<td class="e grey" rowspan="7"></td>
							<td class="f">
								41.
								<div class="inputs">
									<input type="text" name="zaliczka41p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 5. Świadczenia wypłacone z Funduszów:
							 Pracy i Gwarantowanych Świadczeń Pracowniczych</td>
							<td class="b">
								42.
								<div class="inputs">
									<input type="text" name="przychod42p0" value=""/>
								</div>
							</td>
							<td class="d">
								43.
							</td>
							<td class="f">
								44.
								<div class="inputs">
									<input type="text" name="zaliczka44p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 6. Działalność wykonywana osobiście, o której
							 mowa w art. 13 pkt 2, 4, 6 (z wyjątkiem
							 czynności wymienionych w wierszu 7) i 7-9
							  ustawy, w tym umowy zlecenia i o dzieło</td>
							<td class="b">
								45.
								<div class="inputs">
									<input type="text" name="przychod45p0" value=""/>
								</div>
							</td>
							<td class="c">
								46.
								<div class="inputs">
									<input type="text" name="koszt46p0" value=""/>
								</div>
							</td>
							<td class="d">
								47.
							</td>
							<td class="f">
								48.
								<div class="inputs">
									<input type="text" name="zaliczka48p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 7. Czynności związane z pełnieniem obowiązków
							 społecznych lub obywatelskich (art. 13 pkt 5 i 6
							 ustawy) - Należy wpisać kwotę wynikającą z PIT-R.</td>
							<td class="b">
								49.
								<div class="inputs">
									<input type="text" name="przychod49p0" value=""/>
								</div>
							</td>
							<td class="c">
								50.
								<div class="inputs">
									<input type="text" name="koszt50p0" value=""/>
								</div>
							</td>
							<td class="d">
								51.
							</td>
							<td class="f">
								52.
								<div class="inputs">
									<input type="text" name="zaliczka52p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a" rowspan="2"><b>8. Prawa autorskie i inne prawa, o których mowa 
							 w art. 18 ustawy</b> <br>
							 W poz. 56 należy wykazać przychody, do których 
							 zastosowano koszty uzyskania przychodów na
							 podstawie art. 22 ust. 9 pkt 1-3 ustawy.</td>
							<td class="b">
								53.
								<div class="inputs">
									<input type="text" name="przychod53p0" value=""/>
								</div>
							</td>
							<td class="c grey"></td>
							<td class="d" rowspan="2">
								54.
							</td>
							<td class="f" rowspan="2">
								55.
								<div class="inputs">
									<input type="text" name="zaliczka55p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="b">
								56.
								<div class="inputs">
									<input type="text" name="przychod56p0" value=""/>
								</div>
							</td>
							<td class="c">
								57.
								<div class="inputs">
									<input type="text" name="koszt57p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 9. Należności wynikające z umowy aktywizacyjnej</td>
							<td class="b">
								58.
								<div class="inputs">
									<input type="text" name="przychod58p0" value=""/>
								</div>
							</td>
							<td class="c">
								59.
								<div class="inputs">
									<input type="text" name="koszt59p0" value=""/>
								</div>
							</td>
							<td class="d">
								60.
							</td>
							<td class="f">
							61.
								<div class="inputs">
									<input type="text" name="zaliczka61p0" value=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="a"> 10. Inne źródła</td>
							<td class="b">
								62.
								<div class="inputs">
									<input type="text" name="przychod62p0" value=""/>
								</div>
							</td>
							<td class="c grey"></td>
							<td class="d">
								63.
							</td>
							<td class="e">
								64.
							</td>
							<td class="f">
								65.
								<div class="inputs">
									<input type="text" name="zaliczka65p0" value=""/>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="skladki">
					<div class="pole_dlugie1 white"> Składki na ubezpieczenia społeczne, o których mowa w przepisach ustawy, 
					podlegające odliczeniu od dochodu</div>
					<div class="jedno_pole white">
						66.
						<div class="inputs">
							<input type="text" name="skladki66p0" value=""/>
						</div>
					</div>
                    <div class="pustak"></div>
					<div class="pole_dlugie2 white">w tym zagraniczne, o których mowa w art. 26 ust. 1 pkt 2a ustawy</div>
					<div class="jedno_pole white">
						67.
					</div>
					<div class="pole_dlugie1 white">Składki na ubezpieczenie zdrowotne, o których mowa w przepisach ustawy, 
					podlegające odliczeniu od podatku</div>
					<div class="jedno_pole white">
						68.
						<div class="inputs">
							<input type="text" name="zdrowotna68p0" value=""/>
						</div>
					</div>
                    <div class="pustak"></div>
					<div class="pole_dlugie2 white">w tym zagraniczne, o których mowa w art. 26 ust. 1 pkt 2a ustawy</div>
					<div class="jedno_pole white">
						69.
					</div>
				</div>
			</div>
            <div style="clear: both"></div>    
                
                
			<div class="ten grey borders">
                <h3>F. INFORMACJA O PRZYCHODACH ZWOLNIONYCH OD PODATKU ORAZ O ZAŁĄCZNIKU</h3>
				<div class="pole_dlugie1 grey">
					 Przychody otrzymywane z zagranicy, o których mowa w art. 21 ust. 1 pkt 74 ustawy, między innymi rent
					  inwalidzkie z tytułu inwalidztwa wojennego
				</div>
				<div class="jedno_pole white">
					70.
				</div>
				<div class="pole_dlugie1 grey">
					 Przychody pochodzące ze środków bezzwrotnej pomocy zagranicznej, o których mowa w art. 21 ust. 
					  pkt 46 ustawy
				</div>
				<div class="jedno_pole white">
					71.
				</div>
				<div class="informacja72 white">
					 72. Do niniejszej informacji dołączono informację PIT-R (należy zaznaczyć właściwy kwadrat):
				</div>
			</div>
            <div style="clear: both"></div> 
                
			<div class="eleven grey borders">
                <h3>G. PODPIS PŁATNIKA LUB OSOBY WYZNACZONEJ DO OBLICZENIA I POBRANIA PODATKU </h3>
				 <div class="imie73 white">
					73. Imię
				 </div>
				 <div class="nazwisko74 white">
					74. Nazwisko
				 </div>
				 <div class="podpis75 white">
					75. Podpis i pieczątka
				</div>
			</div>
            <div style="clear: both"></div>  
                
			<div class="twelve grey borders">
                <h3>H. ADNOTACJE URZĘDU SKARBOWEGO</h3>
				 <div class="uwagi76">
					76. Uwagi urzędu skarbowego
				 </div>
				 <div class="identyfikator77">
					 77. Identyfikator przyjmującego formularz
				 </div>
				 <div class="podpis78">
					 78. Podpis przyjmującego formularz
				 </div>
			</div>
            <div style="clear: both"></div>  
            
			<div class="pouczenia white">
				1) Art.  35a  ustawy  został uchylony  z  dniem  26  października  2007  r.  ustawąz  dnia  24  sierpnia  2007  r.  o  zmianie  ustawy  o  promocji  zatrudnienia
				i  instytucjach  rynku  pracy  oraz  o  zmianie  niektórych  innych  ustaw  (Dz.  U.  Nr  176,  poz.  1243).  Uchylony  przepis  na  mocy  art.  7  ust.  7  powołanej
				ustawy ma zastosowanie do płatników do czasu obowiązywania umowy aktywizacyjnej zawartej przed dniem 26 października 2007 r. <br>
				2) Ilekroć w informacji jest mowa o urzędzie skarbowym - oznacza to właściwy dla podatnika urząd skarbowy, o którym mowa w przepisach ustawy. <br>
				3) Zgodnie  z  art.  81  ustawy  z  dnia  29  sierpnia  1997  r.  -  Ordynacja  podatkowa  (Dz.  U.  z  2012  r.  poz.  749,  z  późn.  zm.),  zwanej  dalej  „Ordynacją
				podatkową”,   płatnik   może   skorygować złożoną informację przez   złożenie   informacji   korygującej   wraz   z   dołączonym   pisemnym   uzasadnieniemprzyczyn korekty. <br>
				4) W  kwocie  przychodów,  w  części  E,  nie  uwzględnia  sięprzychodów  wolnych  od  podatku  na  podstawie  przepisów  ustawy  oraz  przychodów,  od
				których  na  podstawie  przepisów  Ordynacji  podatkowej  zaniechano  poboru  podatku;  jednakże  w  kolumnie  e  należy  wykazać
				dochody  zwolnione  odpodatku na podstawie umów o unikaniu podwójnego opodatkowania lub innych umów międzynarodowych. <br>
				5) W kwocie kosztów uzyskania przychodów wykazuje się koszty faktycznie uwzględnione przez płatnika przy poborze zaliczek na podatek <br>
				6) W poz. 66-69 nie wykazuje się składek, których podstawęwymiaru stanowi dochód (przychód) zwolniony od podatku na podstawie ustawy, oraz		składek,
				których  podstawęwymiaru  stanowi  dochód,  od  którego  na  podstawie  przepisów  Ordynacji  podatkowej  zaniechano  poboru  podatku,  a  w  przypadku
				składek  zagranicznych,  których  podstawęwymiaru  stanowi  dochód  (przychód)  zwolniony  od  podatku  na  podstawie  umów  o  unikaniu  podwójnego
				opodatkowania. <br>
			</div>
			<br>
		</div> 
			<!-- /pit11NumberOne -->	
            
            <div id="pit11platnik"></div>
            
			<div id="pit11NumberOneWife">
                <div id="numerPitaMalzonka">
                    <div class="frameOutside">1</div>
                    <div class="whosPit">Małżonek</div>
                    <div style="clear: both;"></div>
                </div>
			
				<div class="poltax_header">
                    <div class="poltax37"><p>POLTAX</p></div>
                    <div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
                        MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
                    </div>
                </div>
                <hr style="clear: both;">

                <div class="two white">
                    <div class="ide">
                    1. Identyfikator podatkowy NIP płatnika
                    </div>
                    <div class="nr grey">2. Nr dokumentu</div>
                    <div class="status grey">3. Status</div>
                </div>
                <div style="clear: both"></div>

                <div class="three white">
                    <div class="pit-11"><h3>PIT-11</h3></div>
                    <div class="informacja">
                    <h3>INFORMACJA O DOCHODACH ORAZ O POBRANYCH ZALICZKACH <br>
                        NA PODATEK DOCHODOWY</h3>
                    </div>
                    <div class="w_roku"><h3>W ROKU</h3></div>
                    <div class="rok">4.rok
                        <h3>
                        <script>document.write(new Date().getFullYear() - 1)</script>
                        </h3>
                    </div>
                </div>
                <div style="clear: both"></div> 

			<div class="four grey borders">
				<div class="podstawa">Podstawa prawna:</div>
				<div class="podstawa_b">Art. 39 ust. 1, art. 42 ust. 2 pkt 1 i art. 42e ust. 6 ustawy z dnia 26 lipca 1991 r. o podatku dochodowym od osób fizycznyc
				(Dz  U.  z  2012  r.  poz.  361,  z  późn.  zm.),  zwanej  dalej  ”ustawą”;  art.  35a  ust.  5  ustawy,  w  brzmieniu  obowiązującym  przed
				dniem 26 października 2007 r. 1).
				</div>
				<div class="skladajacy">Składający:</div>
				<div class="skladajacy_b">Płatnik podatku dochodowego od osób fizycznych</div>
				<div class="termin">Termin składania:</div>
				<div class="termin_b">Do  końca  lutego  roku  następującego  po  roku  podatkowym–wyłącznie dla  informacji  składanych  urzędowi skarbowemu  za
				pomocąśrodków  komunikacji  elektronicznej  lub  podatnikowi;  do  końca  stycznia  roku  następującego  po  roku  podatkowym
				w przypadku informacji skladanych urzędowi skarbowemu w formie pisemnej, zgodnie z art. 45ba ust. 2 ustaw <br>
				W przypadku gdyw trakcie roku podatkowego ustał obowiązek poboru zaliczki przez płatników, o których mowa w art. 39 ust.1
				ustawy–w  terminie  14  dni  od  złożenia  pisemnego  wniosku  przez podatnika,  w  przypadku  zaprzestania działalności  przez
				płatników, o których mowa w art. 41 ust. 1 ustawy, przed końcem lutego roku następującego po roku podatkowym–do dnia
				zaprzestania tej działalności.
				</div>
				<div class="otrzymuje">Otrzymuje:</div>
				<div class="otrzymuje_b">Podatnik oraz urząd skarbowy według miejsca zamieszkania podatnika, a w przypadku podatników, o których mowa w art. 3
				ust. 2a ustawy, urząd skarbowy w sprawach opodatkowania osób zagranicznych.
				</div>
			</div>
            <div style="clear: both"></div> 
               
            <div class="five grey borders">
                <h3>A. MIEJSCE I CEL SKŁADANIA INFORMACJI</h3>
                <div class="urzad5 white ">
                    5. Urząd skarbowy, do którego adresowana jest informacja
                        <input type="text" name="urzad5m" value=""/>
                </div>
                <div class="cel6 white ">6. Cel złożenia formularza (zaznaczyć właściwy kwadrat):
                </div>
            </div>
            <div style="clear: both"></div>      

            <div class="six grey borders">
                <h3>B. DANE IDENTYFIKACYJNE PŁATNIKA</h3>
                <div class="rodzaj7 white ">
                    7. Rodzaj płatnika (zaznaczyć właściwy kwadrat):
                </div>
                <div class="nazwa8 white ">
                    8. Nazwa pełna, REGON *
                </div>
                <div class="nazwisko9 white ">
                    9. Nazwisko, pierwsze imię, data urodzenia **
                </div>
            </div>
            <div style="clear: both"></div>    
              
            <div class="seven grey borders">
                <h3>C. DANE IDENTYFIKACYJNE I ADRES ZAMIESZKANIA PODATNIKA</h3>
				<div class="identyfikator10 white">
					10. Identyfikator podatkowy NIP / numer PESEL
					<div class="inputs">
						<input type="text" name="identyfikator10m" value=""/>
					</div>
				</div>
				<div class="nid">
					<div class="nazwisko11 white">
						11. Nazwisko
						<div class="inputs">
							<input type="text" name="nazwisko11m" value=""/>
						</div>
					</div>
					<div class="imie12 white">
						12. Pierwsze imię
						<div class="inputs">
							<input type="text" name="imie12m" value=""/>
						</div>
					</div>
					<div class="data13 white">
						13. Data urodzenia (dzień-miesiąc-rok)
						<div class="inputs">
							<input type="text" name="data13m" value=""/>
						</div>
					</div>
				</div>
				<div class="kwp grey">	
					<div class="kraj14 white">
						14. Kraj
						<div class="inputs">
							<input type="text" name="kraj14m" value=""/>
						</div>
					</div>
					<div class="wojewodztwo15 white">
						15. Województwo
						<div class="inputs">
							<input type="text" name="wojewodztwo15m" value=""/>
						</div>
					</div>
					<div class="powiat16 white">
						16. Powiat
						<div class="inputs">
							<input type="text" name="powiat16m" value=""/>
						</div>
					</div>
				</div>
				<div class="gudl grey>">	
					<div class="gmina17 white">
						17. Gmina
						<div class="inputs">
							<input type="text" name="gmina17m" value=""/>
						</div>
					</div>
					<div class="ulica18 white">
						18. Ulica
						<div class="inputs">
							<input type="text" name="ulica18m" value=""/>
						</div>
					</div>
					<div class="dom19 white">
						19. Nr domu
						<div class="inputs">
							<input type="text" name="dom19m" value=""/>
						</div>
					</div>
					<div class="lokal20 white">
						20. Nr lokalu
						<div class="inputs">
							<input type="text" name="lokal20m" value=""/>
						</div>
					</div>
				</div>
				<div class="mkp grey">
					<div class="miejscowosc21 white">
						21. Miejscowość
						<div class="inputs">
							<input type="text" name="miejscowosc21m" value=""/>
						</div>
					</div>
					<div class="kod22 white">
						22. Kod pocztowy
						<div class="inputs">
							<input type="text" name="kod22m" value=""/>
						</div>
					</div>
					<div class="poczta23 white">
						23. Poczta
						<div class="inputs">
							<input type="text" name="poczta23m" value=""/>
						</div>
					</div>
				</div>
			</div>
            <div style="clear: both"></div>
                
             <div class="eight grey borders">
				<h3>D. INFORMACJA O KOSZTACH ZYSKANIA PRZYCHODU Z TYTUŁU STOSUNKU SŁUŻBOWEGO, <br>
                    STOSUNKU PRACY, SPÓŁDZIELCZEGO STOSUNKU PRACY ORAZ PRACY NAKŁADCZEJ</h3>
				<div class="koszty24 white">
					24. Koszty uzyskania przychodów, wykazane w poz. 26, zostały uwzględnione do wysokości przysługującej podatnikowi:
				</div>
			</div>
            <div style="clear: both"></div>    
               
            <div class="nine grey borders">
                <h3>E. DOCHODY PODATNIKA, POBRANE ZALICZKI ORAZ POBRANE SKŁADKI 6)</h3>
				<div class="zrodla white">
					<table class="tab white borders" border="1">
							<tr class="title">
								<td class="a">Źródła przychodów</td>
								<td class="b">Przychód 4)</td>
								<td class="c">Koszty uzyskania przychodów 5)</td>
								<td class="d">Dochód (b - c)</td>
								<td class="e">Dochód zwolniony od podatków 4)</td>
								<td class="f">Zaliczka pobrana przez płatnika</td>
							</tr>
							<tr class="title">
								<td class="a">a</td>
								<td class="b">b</td>
								<td class="c">c</td>
								<td class="d">d</td>
								<td class="e">e</td>
								<td class="f">f</td>
							</tr>
							<tr>
								<td class="a" rowspan="2"><b>1. Należności ze stosunku: pracy, służbowego,
									 spółdzielczego i z pracy nakładczej, a także 
									 zasiłki pieniężne z ubezpieczenia społecznego
									 wypłacone przez zakład pracy, o którym mowa
									 w art. 31 ustawy, oraz płatników, o których
									 mowa w art. 42e ust. 1 ustawy </b><br>
									 W poz. 30 należy wykazać przychody, do których
									 zastosowano odliczenie kosztów uzyskania
									  przychodów na podstawie art. 22 ust. 9 pkt 3 ustawy.
								</td>
								<td class="b">
									25.
									<div class="inputs">
										<input type="text" name="przychod25mp0" value=""/>
									</div>
								</td>
								<td class="c">
									26.
									<div class="inputs">
										<input type="text" name="koszt26mp0" value=""/>
									</div>
								</td>
								<td class="d" rowspan="2">
									27.
								</td>
								<td class="e" rowspan="2">
									28.
								</td>
								<td class="f" rowspan="2">
									29.
									<div class="inputs">
										<input type="text" name="zaliczka29mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="b">
									30.
									<div class="inputs">
										<input type="text" name="przychod30mp0" value=""/>
									</div>
								</td>
								<td class="c">
									31.
									<div class="inputs">
										<input type="text" name="koszt31mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a">
									 2. Należności z tytułu członkostwa w rolnicze
									 spółdzielni produkcyjnej lub innej spółdzielni
									 zajmującej się produkcją rolną oraz zasiłki
									 pieniężne z ubezpieczenia społecznego
									 </td>
								<td class="b">
									32.
									<div class="inputs">
										<input type="text" name="przychod32mp0" value=""/>
									</div>
								</td>
								<td class="c grey" rowspan="4"></td>
								<td class="d">
									33.
								</td>
								<td class="e grey"></td>
								<td class="f">
									34.
									<div class="inputs">
										<input type="text" name="zaliczka34mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a">3. Emerytury – renty zagraniczne</td>
								<td class="b">
									35.
									<div class="inputs">
										<input type="text" name="przychod35mp0" value=""/>
									</div>
								</td>
								<td class="d">
									36.
								</td>
								<td class="e">
									37.
								</td>
								<td class="f">
									38.
									<div class="inputs">
										<input type="text" name="zaliczka38mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 4. Należności za pracę przypadające tymczasowo
								aresztowanym lub skazanym</td>
								<td class="b">
									39.
									<div class="inputs">
										<input type="text" name="przychod39mp0" value=""/>
									</div>
								</td>
								<td class="d">
									40.
								</td>
								<td class="e grey" rowspan="7"></td>
								<td class="f">
									41.
									<div class="inputs">
										<input type="text" name="zaliczka41mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 5. Świadczenia wypłacone z Funduszów:
								 Pracy i Gwarantowanych Świadczeń Pracowniczych</td>
								<td class="b">
									42.
									<div class="inputs">
										<input type="text" name="przychod42mp0" value=""/>
									</div>
								</td>
								<td class="d">
									43.
								</td>
								<td class="f">
									44.
									<div class="inputs">
										<input type="text" name="zaliczka44mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 6. Działalność wykonywana osobiście, o której
								 mowa w art. 13 pkt 2, 4, 6 (z wyjątkiem
								 czynności wymienionych w wierszu 7) i 7-9
								  ustawy, w tym umowy zlecenia i o dzieło</td>
								<td class="b">
									45.
									<div class="inputs">
										<input type="text" name="przychod45mp0" value=""/>
									</div>
								</td>
								<td class="c">
									46.
									<div class="inputs">
										<input type="text" name="koszt46mp0" value=""/>
									</div>
								</td>
								<td class="d">
									47.
								</td>
								<td class="f">
									48.
									<div class="inputs">
										<input type="text" name="zaliczka48mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 7. Czynności związane z pełnieniem obowiązków
								 społecznych lub obywatelskich (art. 13 pkt 5 i 6
								 ustawy) - Należy wpisać kwotę wynikającą z PIT-R.</td>
								<td class="b">
									49.
									<div class="inputs">
										<input type="text" name="przychod49mp0" value=""/>
									</div>
								</td>
								<td class="c">
									50.
									<div class="inputs">
										<input type="text" name="koszt50mp0" value=""/>
									</div>
								</td>
								<td class="d">
									51.
								</td>
								<td class="f">
									52.
									<div class="inputs">
										<input type="text" name="zaliczka52mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a" rowspan="2"><b>8. Prawa autorskie i inne prawa, o których mowa 
								 w art. 18 ustawy</b> <br>
								 W poz. 56 należy wykazać przychody, do których 
								 zastosowano koszty uzyskania przychodów na
								 podstawie art. 22 ust. 9 pkt 1-3 ustawy.</td>
								<td class="b">
									53.
									<div class="inputs">
										<input type="text" name="przychod53mp0" value=""/>
									</div>
								</td>
								<td class="c grey"></td>
								<td class="d" rowspan="2">
									54.
								</td>
								<td class="f" rowspan="2">
									55.
									<div class="inputs">
										<input type="text" name="zaliczka55mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="b">
									56.
									<div class="inputs">
										<input type="text" name="przychod56mp0" value=""/>
									</div>
								</td>
								<td class="c">
									57.
									<div class="inputs">
										<input type="text" name="koszt57mp0" value=""/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 9. Należności wynikające z umowy aktywizacyjnej</td>
								<td class="b">
									58.
									<div class="inputs">
										<input type="text" name="przychod58mp0" value=""/>
									</div>
								</td>
								<td class="c">
									59.
									<div class="inputs">
										<input type="text" name="koszt59mp0" value=""/>
									</div>
								</td>
								<td class="d">
									60.
								</td>
								<td class="f">
								61.
									<div class="inputs">
										<input type="text" name="zaliczka61mp0" size="10" value="0.00"/>
									</div>
								</td>
							</tr>
							<tr>
								<td class="a"> 10. Inne źródła</td>
								<td class="b">
									62.
									<div class="inputs">
										<input type="text" name="przychod62mp0" value=""/>
									</div>
								</td>
								<td class="c grey"></td>
								<td class="d">
									63.
								</td>
								<td class="e">
									64.
								</td>
								<td class="f">
									65.
									<div class="inputs">
										<input type="text" name="zaliczka65mp0" value=""/>
									</div>
								</td>
							</tr>
						</table>
					</div>
                    
                    <div class="skladki">
                        <div class="pole_dlugie1 white"> Składki na ubezpieczenia społeczne, o których mowa w przepisach ustawy, 
                        podlegające odliczeniu od dochodu</div>
                        <div class="jedno_pole white">
                            66.
                            <div class="inputs">
                                <input type="text" name="skladki66mp0" value=""/>
                            </div>
                        </div>
                        <div class="pustak"></div>
                        <div class="pole_dlugie2 white">w tym zagraniczne, o których mowa w art. 26 ust. 1 pkt 2a ustawy</div>
                        <div class="jedno_pole white">
                            67.
                        </div>
                        <div class="pole_dlugie1 white">Składki na ubezpieczenie zdrowotne, o których mowa w przepisach ustawy, 
                        podlegające odliczeniu od podatku</div>
                        <div class="jedno_pole white">
                            68.
                            <div class="inputs">
                                <input type="text" name="zdrowotna68mp0" value=""/>
                            </div>
                        </div>
                        <div class="pustak"></div>
                        <div class="pole_dlugie2 white">w tym zagraniczne, o których mowa w art. 26 ust. 1 pkt 2a ustawy</div>
                        <div class="jedno_pole white">
                            69.
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>    


                <div class="ten grey borders">
                    <h3>F. INFORMACJA O PRZYCHODACH ZWOLNIONYCH OD PODATKU ORAZ O ZAŁĄCZNIKU</h3>
                    <div class="pole_dlugie1 grey">
                         Przychody otrzymywane z zagranicy, o których mowa w art. 21 ust. 1 pkt 74 ustawy, między innymi rent
                          inwalidzkie z tytułu inwalidztwa wojennego
                    </div>
                    <div class="jedno_pole white">
                        70.
                    </div>
                    <div class="pole_dlugie1 grey">
                         Przychody pochodzące ze środków bezzwrotnej pomocy zagranicznej, o których mowa w art. 21 ust. 
                          pkt 46 ustawy
                    </div>
                    <div class="jedno_pole white">
                        71.
                    </div>
                    <div class="informacja72 white">
                         72. Do niniejszej informacji dołączono informację PIT-R (należy zaznaczyć właściwy kwadrat):
                    </div>
                </div>
                <div style="clear: both"></div> 

                <div class="eleven grey borders">
                    <h3>G. PODPIS PŁATNIKA LUB OSOBY WYZNACZONEJ DO OBLICZENIA I POBRANIA PODATKU </h3>
                     <div class="imie73 white">
                        73. Imię
                     </div>
                     <div class="nazwisko74 white">
                        74. Nazwisko
                     </div>
                     <div class="podpis75 white">
                        75. Podpis i pieczątka
                    </div>
                </div>
                <div style="clear: both"></div>  

                <div class="twelve grey borders">
                    <h3>H. ADNOTACJE URZĘDU SKARBOWEGO</h3>
                     <div class="uwagi76">
                        76. Uwagi urzędu skarbowego
                     </div>
                     <div class="identyfikator77">
                         77. Identyfikator przyjmującego formularz
                     </div>
                     <div class="podpis78">
                         78. Podpis przyjmującego formularz
                     </div>
                </div>
                <div style="clear: both"></div>  

                <div class="pouczenia white">
                    1) Art.  35a  ustawy  został uchylony  z  dniem  26  października  2007  r.  ustawąz  dnia  24  sierpnia  2007  r.  o  zmianie  ustawy  o  promocji  zatrudnienia
                    i  instytucjach  rynku  pracy  oraz  o  zmianie  niektórych  innych  ustaw  (Dz.  U.  Nr  176,  poz.  1243).  Uchylony  przepis  na  mocy  art.  7  ust.  7  powołanej
                    ustawy ma zastosowanie do płatników do czasu obowiązywania umowy aktywizacyjnej zawartej przed dniem 26 października 2007 r. <br>
                    2) Ilekroć w informacji jest mowa o urzędzie skarbowym - oznacza to właściwy dla podatnika urząd skarbowy, o którym mowa w przepisach ustawy. <br>
                    3) Zgodnie  z  art.  81  ustawy  z  dnia  29  sierpnia  1997  r.  -  Ordynacja  podatkowa  (Dz.  U.  z  2012  r.  poz.  749,  z  późn.  zm.),  zwanej  dalej  „Ordynacją
                    podatkową”,   płatnik   może   skorygować złożoną informację przez   złożenie   informacji   korygującej   wraz   z   dołączonym   pisemnym   uzasadnieniemprzyczyn korekty. <br>
                    4) W  kwocie  przychodów,  w  części  E,  nie  uwzględnia  sięprzychodów  wolnych  od  podatku  na  podstawie  przepisów  ustawy  oraz  przychodów,  od
                    których  na  podstawie  przepisów  Ordynacji  podatkowej  zaniechano  poboru  podatku;  jednakże  w  kolumnie  e  należy  wykazać
                    dochody  zwolnione  odpodatku na podstawie umów o unikaniu podwójnego opodatkowania lub innych umów międzynarodowych. <br>
                    5) W kwocie kosztów uzyskania przychodów wykazuje się koszty faktycznie uwzględnione przez płatnika przy poborze zaliczek na podatek <br>
                    6) W poz. 66-69 nie wykazuje się składek, których podstawęwymiaru stanowi dochód (przychód) zwolniony od podatku na podstawie ustawy, oraz		składek,
                    których  podstawęwymiaru  stanowi  dochód,  od  którego  na  podstawie  przepisów  Ordynacji  podatkowej  zaniechano  poboru  podatku,  a  w  przypadku
                    składek  zagranicznych,  których  podstawęwymiaru  stanowi  dochód  (przychód)  zwolniony  od  podatku  na  podstawie  umów  o  unikaniu  podwójnego
                    opodatkowania. <br>
                </div>
				<br>
			</div>
			<!-- /pit11NumberOneWife -->
            
            <div id="pit11malzonek"></div>
			
		</div> 
		<!--/pity11 -->
		
		<div class="button">
			<input type="submit" id="buttonToAction" value="Dalej >>>" />
		</div>
		
	</form>
</div>
<!-- /container -->
{% endblock %}