{% extends "layout.html" %}

{% block content %}
<div class="container">
	
	{% if pitO %}
	<button onclick="printDiv('pit_o')">Drukuj | PIT-0</button>
	{% endif %}
	<button onclick="printDiv('pit37')">Drukuj | PIT-37</button>
	<div style="clear: both"></div>
</div>

	<div id="pit37">
	
		<div class="container">
		
			<div id="page_one">
				<div class="poltax_header">
					<div class="poltax37"><p>POLTAX</p></div>
					<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
						MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
					</div>
				</div>
				<hr style="clear: both;">
				
				<div class="two37 white">
					<div class="ide37">
						<div class="identyfikator">
							1. Identyfikator podatkowy NIP / numer PESEL podatnika
							<p>{{ daneOsobowe[0][1] }}</p>
						</div>
						<div class="identyfikator">
							2. Identyfikator podatkowy NIP / numer PESEL małżonka
							<p>{{ daneOsobowe[1][1] }}</p>
						</div>
					</div>
					<div class="nr337 grey borders">
						3. Nr dokumentu
					</div>
					<div class="status437 grey borders">
						4. Status
					</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="three37 borders">
					<div class="name1">PIT-37</div>
					<div class="name2">Prawidłowe wypełnienie formularza ułatwi wcześniejsze zapoznanie 
					się z broszurą informacyjną dostępną w urzędach.
					</div>
					<div style="clear: both;"></div>
					<div class="zeznanie1">
						ZEZNANIE O WYSOKOŚCI <br>
						OSIĄGNIĘTEGO DOCHODU (PONIESIONEJ STRATY)
					</div>
					<div class="zeznanie2">
						W ROKU PODATKOWYM
					</div>
					<div class="rok37 white borders">
						5. Rok
						<p><script>document.write(new Date().getFullYear() - 1)</script></p>
					</div>
					<div style="clear: both;"></div>
					<div class="form1">
						Formularz przeznaczony jest dla podatników, którzy w roku podatkowym: <br>
						1) wyłącznie za pośrednictwem płatnika uzyskali przychody ze źródeł położonych na 
						terytorium Rzeczypospolitej Polskiej, podlegające opodatkowaniu na ogólnych zasadach
						przy zastosowaniu skali podatkowej, tj. w szczególności z tytułu
					</div>
					<div class="form2">
						- wynagrodzeń i innych przychodów ze stosunku służbowego, stosunkupracy (w tym spółdzielczego <br>
						stosunku pracy) oraz pracy nakładczej
						- emerytur lub rent krajowych (w tym rent strukturalnych, rent socjalnych), <br>
						- świadczeń przedemerytalnych, zasiłków przedemerytalnych, <br>
						- należności z tytułu członkowstwa w rolniczych spółdzielniach produkcyjnych lub innych spółdzielniach zajmujących się produkcją rolną, <br>
						- zasiłków pieniężnych z ubezpieczenia społecznego, <br>
						- stypendiów, <br>
					</div>
					<div class="form2">
						- przychodów z działalności wykonywanej osobiście (między innymi z umów zlecenia, kontraktów menedżerskich, zasiadania w radach nadzorczych, pełnienia obowiązków społecznych, działalności sportowej), <br>
						- przychodów z praw autorskich i innych praw majątkowych, <br>
						- świadczeń wypłaconych z Funduszu Pracy lub z Funduszu Gwarantowanych Świadczeń Pracowniczych, <br>
						- należności za pracę przypadających tymczasowo aresztowanym orazskazanym, <br>
						- należności z umowy aktywizacyjnej, <br>
					</div>
					<div style="clear: both;"></div>
					<div class="form1">
						2) nie prowadzili pozarolniczej działalności gospodarczej oraz działów specjalnych produkcji rolnej opodatkowanych na ogólnych zasadach przy zastosowaniu skali podatkowej,
					</div>
					<div class="form1">
					3) nie są obowiązani doliczać do uzyskanych dochodów dochodów małoletnich dzieci,
					</div>
					<div class="form1">
					4) nie obniżają dochodów o straty z lat ubiegłych.
					</div>
				</div>
				
				<div  class="podstawyPrawne white borders">
					<div class="pod">Podstawa prawna:</div>
					<div class="art">Art.45 ust.1 ustawy z dnia 26 lipca 1991 r. o podatku dochodowym od osób fizycznych
					(Dz.U.z 2012 r. poz.361, z późn.zm.), zwanej dalej ”ustawą ”.</div>
					<div style="clear: both;"></div>
					<div class="pod">Termin składania:</div>
					<div class="art">Do dnia 30 kwietnia roku następującego po roku podatkowym</div>
					<div style="clear: both;"></div>
					<div class="pod">Miejsce składania:</div>
					<div class="art">Urząd, o którym mowa w art. 45 ustawy, zwany dalej "urzędem".</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="wybor37 white borders">
						Wybór sposobu opodatkowania (zaznaczyć właściwe kwadraty): <br>
					<div class="form1">
						{% if danePanel[0] == 1 %}
						<p>6. <b>[X]</b>
						1. Indywidualnie</p>
						{% else %}
						<p>6. [ ]
						1. Indywidualnie</p>
						{% endif %}
					</div>
					<div class="form1">
						{% if danePanel[0] == 2 %}
						<p><b>[X]</b>
						2. wspólnie z małżonkiem, zgodnie z wnioskiem, o którym mowa w art.6 ust.2 ustawy</p>
						{% else %}
						<p>[]
						2. wspólnie z małżonkiem, zgodnie z wnioskiem, o którym mowa w art.6 ust.2 ustawy</p>
						{% endif %}
					</div>
					<div class="form1">
						{% if danePanel[0] == 3 %}
						<p><b>[X]</b>
						3. wspólnie z małżonkiem, zgodnie z wnioskiem, o którym mowa w art.6a ust.1 ustawy</p>
						{% else %}
						<p>[]
						3. wspólnie z małżonkiem, zgodnie z wnioskiem, o którym mowa w art.6a ust.1 ustawy</p>
						{% endif %}
					</div>
					<div class="form1">
						{% if danePanel[0] == 4 %}
						<p><b>[X]</b>
						4. w sposób przewidziany dla osób samotnie wychowujących dzieci</p>
						{% else %}
						<p>[]
						4. w sposób przewidziany dla osób samotnie wychowujących dzieci</p>
						{% endif %}
					</div>
					
					<div class="form2">
						<p> 7. 
						[]
						w sposób przewidziany w art.29 ust.4 ustawy - podatnik</p>
					</div>
					<div class="form2">
						<p>8.
						[]
						  w sposób przewidziany w art.29 ust.4 ustawy - małżonek</p>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="wybor37 white borders">
					Zaznaczenie odpowiednich kwadratów oraz złożenie podpisu(ów) w części L traktuje się na równi ze 
					złożeniem wniosku o zastosowanie wskazanego sposobu opodatkowania. Kwadrat w poz. 7 lub 8 zaznacza 
					się łącznie z kwadratem 1, 2, 3 albo 4 w poz. 6
				</div>
				
				<div class="a37 grey borders">
					<h3>A. MIEJSCE I CEL SKŁADANIA ZEZNANIA</h3>
					<div class="miejsceIcel white ">
						9. Urząd, do którego adresowane jest zeznanie
						<p>{{ daneOsobowe[0][1] }}</p>
					</div>
					<div class="miejsceIcel white ">
						10. Cel złożenia formularza (zaznaczyć odpowiedni kwadrat):
						<p><b>[X]</b> 1. złożenie zeznania
						[] 2. korekta zeznania</p>
					</div>
				</div>
				
				<div class="b37 grey borders">
					<h3>B. DANE IDENTYFIKACYJNE I AKTUALNY ADRES ZAMIESZKANIA</h3>
				</div>
				
				<div class="b1_37 grey borders">
					<h3>B.1. DANE PODATNIKA</h3>
						<div class="nazwisko11 white ">
							11. Nazwisko
							<p>{{ daneOsobowe[0][2] }}</p>
						</div>
						<div class="imie12 white ">
							12. Pierwsze imię
							<p>{{ daneOsobowe[0][3] }}</p>
						</div>
						<div class="data13 white ">
							13. Data urodzenia (dzień-miesiąc-rok)
							<p>{{ daneOsobowe[0][4] }}</p>
						</div>
						
						<div class="kraj14 white ">
							14. Kraj
							<p>{{ daneOsobowe[0][5] }}</p>
						</div>
						<div class="wojewodztwo15 white ">
							15. Województwo
							<p>{{ daneOsobowe[0][6] }}</p>
						</div>
						<div class="powiat16 white ">
							16. Powiat
							<p>{{ daneOsobowe[0][7] }}</p>
						</div>
						
						<div class="gmina17 white ">
							17. Gmina
							<p>{{ daneOsobowe[0][8] }}</p>
						</div>
						<div class="ulica18 white ">
							18. Ulica
							<p>{{ daneOsobowe[0][9] }}</p>
						</div>
						<div class="dom19 white ">
							19. Nr domu
							<p>{{ daneOsobowe[0][10] }}</p>
						</div>
						<div class="lokal20 white ">
							20. Nr lokalu
							<p>{{ daneOsobowe[0][11] }}</p>
						</div>
						
						<div class="miejscowosc21 white ">
							21. Miejscowość
							<p>{{ daneOsobowe[0][12] }}</p>
						</div>
						<div class="kod22 white ">
							22. Kod pocztowy
							<p>{{ daneOsobowe[0][13] }}</p>
						</div>
						<div class="poczta23 white ">
							23. Poczta
							<p>{{ daneOsobowe[0][14] }}</p>
						</div>
						<div style="clear: both;"></div>
				</div>
				<div class="b2_37 grey borders">
					<h3>B.1. DANE MAŁŻONKA</h3>
						<div class="nazwisko11 white ">
							24. Nazwisko
							<p>{{ daneOsobowe[1][2] }}</p>
						</div>
						<div class="imie12 white ">
							25. Pierwsze imię
							<p>{{ daneOsobowe[1][3] }}</p>
						</div>
						<div class="data13 white ">
							26. Data urodzenia (dzień-miesiąc-rok)
							<p>{{ daneOsobowe[1][4] }}</p>
						</div>
						
						<div class="kraj14 white ">
							27. Kraj
							<p>{{ daneOsobowe[1][5] }}</p>
						</div>
						<div class="wojewodztwo15 white ">
							28. Województwo
							<p>{{ daneOsobowe[1][6] }}</p>
						</div>
						<div class="powiat16 white ">
							29. Powiat
							<p>{{ daneOsobowe[1][7] }}</p>
						</div>
						
						<div class="gmina17 white ">
							30. Gmina
							<p>{{ daneOsobowe[1][8] }}</p>
						</div>
						<div class="ulica18 white ">
							31. Ulica
							<p>{{ daneOsobowe[1][9] }}</p>
						</div>
						<div class="dom19 white ">
							32. Nr domu
							<p>{{ daneOsobowe[1][10] }}</p>
						</div>
						<div class="lokal20 white ">
							33. Nr lokalu
							<p>{{ daneOsobowe[1][11] }}</p>
						</div>
						
						<div class="miejscowosc21 white ">
							34. Miejscowość
							<p>{{ daneOsobowe[1][12] }}</p>
						</div>
						<div class="kod22 white ">
							35. Kod pocztowy
							<p>{{ daneOsobowe[1][13] }}</p>
						</div>
						<div class="poczta23 white ">
							36. Poczta
							<p>{{ daneOsobowe[1][14] }}</p>
						</div>
						<div style="clear: both;"></div>
				</div>
				
				<div class="endPage borders">
					<div class="page1">PIT-37<sub>(21)</sub></div>
					<div class="page2">1<sub>/4</sub></div>
				</div>
				<div style="clear: both;"></div>
					
			</div><!-- /one page -->
			
			
			<div id="page_two">
				<div class="poltax_header">
					<div class="poltax37"><p>POLTAX</p></div>
					<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
						MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
					</div>
				</div>
				<hr style="clear: both;">
				
				<div class="c_37 grey borders">
					<h3>C. DOCHODY / STRATY ZE ŹRÓDEŁ PRZYCHODÓW</h3>
				</div>
				
				<div class="c1_37 grey borders">
					<h3>C.1. DOCHODY I STRATY PODATNIKA</h3>
				</div>
				
				<table id="tab1" class="tab white borders" border="1">
					<tr>
						<td class="a_37c"><p>Źródła przychodów</p></td>
						<td class="b_37c"><p>Przychód</p></td>
						<td class="c_37c"><p>Koszty uzyskania przychodów</p></td>
						<td class="d_37c"><p>Dochód (b - c)</p></td>
						<td class="e_37c"><p>Strata (c - b)</p></td>
						<td class="f_37c"><p>Zaliczka pobrana przez płatnika</p></td>
					</tr>
					<tr>
						<td class="a_37c"><p>a</p></td>
						<td class="b_37c"><p>b</p></td>
						<td class="c_37c"><p>c</p></td>
						<td class="d_37c"><p>d</p></td>
						<td class="e_37c"><p>e</p></td>
						<td class="f_37c"><p>f</p></td>
					</tr>
					<tr>
						<td class="a_37c" rowspan="2">
							<b>1. Należności ze stosunku: pracy, służbowego,
							 spółdzielczego i z pracy nakładczej, a także 
							 zasiłki pieniężne z ubezpieczenia społecznego
							 wypłacone przez zakład pracy,</b><br>
							 W poz. 42 należy wykazać przychody, do których 
							 w poz 43 podatnik stosuje 50% kosty uzyskania
							  przychodów na podstawie art. 22 ust. 9 pkt 3 ustawy.</td>
						<td class="b_37c">37.<p>{{ pkzds_P[0] }}</p></td>
						<td class="c_37c">38.<p>{{ pkzds_P[12] }}</p></td>
						<td class="d_37c" rowspan="2">39.<p>{{ pkzds_P[30] }}</p></td>
						<td class="e_37c" rowspan="2">40.<p>{{ straty_P[0] }}</p></td>
						<td class="f_37c" rowspan="2">41.<p>{{ pkzds_P[18] }}</p></td>
					</tr>
					<tr>
						<td class="b_37c">42.<p>{{ pkzds_P[1] }}</p></td>
						<td class="c_37c">43.<p>{{ pkzds_P[13] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">2. Emerytury - renty oraz inne krajowe świadczenia, o których mowa w art. 34
						ust. 7 ustawy</td>
						<td class="b_37c">44.<p>{{ pkzds_P[2] }}</p></td>
						<td class="c_37c grey"></td>
						<td class="d_37c">45.<p>{{ pkzds_P[31] }}</p></td>
						<td class="e_37c grey"></td>
						<td class="f_37c">46.<p>{{ pkzds_P[19] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">3. Działalność wykonywana osobiście, o której
							 mowa w art. 13 ustawy (w tym umowy o dzieło i zlecenia)</td>
						<td class="b_37c">47.<p>{{ pkzds_P[3] }}</p></td>
						<td class="c_37c">48.<p>{{ pkzds_P[14] }}</p></td>
						<td class="d_37c">49.<p>{{ pkzds_P[32] }}</p></td>
						<td class="e_37c">50.<p>{{ straty_P[2] }}</p></td>
						<td class="f_37c">51.<p>{{ pkzds_P[20] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c"rowspan="2"><b>4. Prawa autorskie i inne prawa, o których mowa 
							 w art. 18 ustawy</b> <br>
							 W poz. 57 należy wykazać przychody, do których w poz. 58 podatnik stosuje 50%
							 koszty uzyskania przychodów na podstawie art. 22 ust. 9 pkt 1-3 ustawy</td>
						<td class="b_37c">52.<p>{{ pkzds_P[4] }}</p></td>
						<td class="c_37c">53.
						<p></p>
						</td>
						<td class="d_37c"rowspan="2">54.<p>{{ pkzds_P[33] }}</p></td>
						<td class="e_37c"rowspan="2">55.<p>{{ straty_P[3] }}</p></td>
						<td class="f_37c"rowspan="2">56.<p>{{ pkzds_P[21] }}</p></td>
					</tr>
					<tr>
						<td class="b_37c">57.<p>{{ pkzds_P[5] }}</p></td>
						<td class="c_37c">58.<p>{{ pkzds_P[15] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">5. Inne żródła, niewymienione w wierszach od 1 do 4</td>
						<td class="b_37c">59.<p>{{ pkzds_P[6:12]|sum }}</p></td>
						<td class="c_37c">60.<p>{{ pkzds_P[16:18]|sum }}</p></td>
						<td class="d_37c">61.<p>{{ pkzds_P[34] }}</p></td>
						<td class="e_37c">62.<p>{{ straty_P[4] }}</p></td>
						<td class="f_37c">63.<p>{{ pkzds_P[22:28]|sum }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">6. RAZEM<br>Suma kwot z wierszy od 1 do 5</td>
						<td class="b_37c">64.<p>{{ razemPKZD_P['przychod'] }}</p></td>
						<td class="c_37c">65.<p>{{ razemPKZD_P['koszt'] }}</p></td>
						<td class="d_37c">66.<p>{{ razemPKZD_P['dochod'] }}</p></td>
						<td class="e_37c grey"></td>
						<td class="f_37c">67.<p>{{ razemPKZD_P['zaplaconyPodatek'] }}</p></td>
					</tr>
				</table>
				
				<div class="c2_37 grey borders">
					<h3>C.2. DOCHODY I STRATY MAŁŻONKA</h3>
				</div>
				
				<table id="tab2" class="tab white borders" border="1" >
					<tr>
						<td class="a_37c"><p>Źródła przychodów</p></td>
						<td class="b_37c"><p>Przychód</p></td>
						<td class="c_37c"><p>Koszty uzyskania przychodów</p></td>
						<td class="d_37c"><p>Dochód (b - c)</p></td>
						<td class="e_37c"><p>Strata (c - b)</p></td>
						<td class="f_37c"><p>Zaliczka pobrana przez płatnika</p></td>
					</tr>
					<tr>
						<td class="a_37c"><p>a</p></td>
						<td class="b_37c"><p>b</p></td>
						<td class="c_37c"><p>c</p></td>
						<td class="d_37c"><p>d</p></td>
						<td class="e_37c"><p>e</p></td>
						<td class="f_37c"><p>f</p></td>
					</tr>
					<tr>
						<td class="a_37c" rowspan="2">
							<b>1. Należności ze stosunku: pracy, służbowego,
							 spółdzielczego i z pracy nakładczej, a także 
							 zasiłki pieniężne z ubezpieczenia społecznego
							 wypłacone przez zakład pracy, </b><br>
							 W poz. 73 należy wykazać przychody, do których w poz 74 małżonek
							 stosuje 50% koszty uzyskania
							 przychodów na podstawie art. 22 ust. 9 pkt 3 ustawy.</td>
						<td class="b_37c">68.<p>{{ pkzds_M[0] }}</p></td>
						<td class="c_37c">69.<p>{{ pkzds_M[12] }}</p></td>
						<td class="d_37c" rowspan="2">70.<p>{{ pkzds_M[30] }}</p></td>
						<td class="e_37c" rowspan="2">71.<p>{{ straty_M[0] }}</p></td>
						<td class="f_37c" rowspan="2">72.<p>{{ pkzds_M[18] }}</p></td>
					</tr>
					<tr>
						<td class="b_37c">73.<p>{{ pkzds_M[1] }}</p></td>
						<td class="c_37c">74.<p>{{ pkzds_M[13] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">2. Emerytury - renty oraz inne krajowe świadczenia, o których mowa w art. 34
						ust. 7 ustawy</td>
						<td class="b_37c">75.<p>{{ pkzds_M[2] }}</p></td>
						<td class="c_37c grey"></td>
						<td class="d_37c">76.<p>{{ pkzds_M[31] }}</p></td>
						<td class="e_37c grey"></td>
						<td class="f_37c">77.<p>{{ pkzds_M[19] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">3. Działalność wykonywana osobiście, o której
							 mowa w art. 13 ustawy (w tym umowy o dzieło i zlecenia)</td>
						<td class="b_37c">78.<p>{{ pkzds_M[3] }}</p></td>
						<td class="c_37c">79.<p>{{ pkzds_M[14] }}</p></td>
						<td class="d_37c">80.<p>{{ pkzds_M[32] }}</p></td>
						<td class="e_37c">81.<p>{{ straty_M[2] }}</p></td>
						<td class="f_37c">82.<p>{{ pkzds_M[20] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c"rowspan="2"><b>4. Prawa autorskie i inne prawa, o których mowa 
							 w art. 18 ustawy</b> <br>
							 W poz. 57 należy wykazać przychody, do których w poz. 58 podatnik stosuje 50%
							 koszty uzyskania przychodów na podstawie art. 22 ust. 9 pkt 1-3 ustawy</td>
						<td class="b_37c">83.<p>{{ pkzds_M[4] }}</p></td>
						<td class="c_37c">84.<p></p></td>
						<td class="d_37c"rowspan="2">85.<p>{{ pkzds_M[33] }}</p></td>
						<td class="e_37c"rowspan="2">86.<p>{{ straty_M[3] }}</p></td>
						<td class="f_37c"rowspan="2">87.<p>{{ pkzds_M[21] }}</p></td>
					</tr>
					<tr>
						<td class="b_37c">88.<p>{{ pkzds_M[5] }}</p></td>
						<td class="c_37c">89.<p>{{ pkzds_M[15] }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">5. Inne żródła, niewymienione w wierszach od 1 do 4</td>
						<td class="b_37c">90.<p>{{ pkzds_M[6:12]|sum }}</p></td>
						<td class="c_37c">91.<p>{{ pkzds_M[16:18]|sum }}</p></td>
						<td class="d_37c">92.<p>{{ pkzds_M[34] }}</p></td>
						<td class="e_37c">93.<p>{{ straty_M[4] }}</p></td>
						<td class="f_37c">94.<p>{{ pkzds_M[22:28]|sum }}</p></td>
					</tr>
					<tr>
						<td class="a_37c">6. RAZEM<br>Suma kwot z wierszy od 1 do 5</td>
						<td class="b_37c">95.<p>{{ razemPKZD_M['przychod'] }}</p></td>
						<td class="c_37c">96.<p>{{ razemPKZD_M['koszt'] }}</p></td>
						<td class="d_37c">97.<p>{{ razemPKZD_M['dochod'] }}</p></td>
						<td class="e_37c grey"></td>
						<td class="f_37c">98.<p>{{ razemPKZD_M['zaplaconyPodatek'] }}</p></td>
					</tr>
				</table>
				
				
				<div class="d_37 grey borders">
					<div class="h3_odliczenia"><h3>D. ODLICZENIA OD DOCHODU</h3></div>
					<div class="p_podatnik"><p>podatnik</p></div>
					<div class="p_malzonek"><p>małżonek</p></div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1">
					<b>Składki na ubezpieczenia społeczne</b><br>
					Odliczenie podatnika nie może przekroczyć kwoty z poz. 66 <br>
					Odliczenie małżonka nie może przekroczyć kwoty z poz. 97
					</div>
					<div class="d_podatnik_i_mal white">99.<p>{{ pkzds_P[28] }}</p></div>
					<div class="d_podatnik_i_mal white">100.<p>{{ pkzds_M[28] }}</p></div>
					<div style="clear: both;"></div>
					
					<div class="pustak"></div>
					<div class="pole_dlugie2">w tym zagraniczne, o których mowa w art. 26 ust. 1 pkt 2a ustawy</div>
					<div class="d_podatnik_i_mal white">101.</div>
					<div class="d_podatnik_i_mal white">102.</div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1"> <b>Dochód po odliczeniu składek na ubezpieczenia społeczne</b><br>
					Dochód podatnika - od kwoty z poz. 66 należy odjąć kwotę z poz. 99 <br>
					Dochód małżonka - od kwoty z poz. 97 należy odjąć kwotę z poz. 100</div>
					<div class="d_podatnik_i_mal white">103.<p>{{ odliczenia_P['dochMinSpol103i104'] }}</p></div>
					<div class="d_podatnik_i_mal white">104.<p>{{ odliczenia_M['dochMinSpol103i104'] }}</p></div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1"><b> Odliczenia od dochodu – wykazane w części B załącznika PIT/O </b><br>
					Odliczenie podatnika nie może przekroczyć kwoty z poz. 103<br>
					Odliczenie małżonka nie może przekroczyć kwoty z poz. 104</div>
					
					<div class="d_podatnik_i_mal white">105.<p>{{ odliczenia_P['dochMinInternet105i106'] }}</p></div>
					<div class="d_podatnik_i_mal white">106.<p>{{ odliczenia_M['dochMinInternet105i106'] }}</p></div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1">
						<b> Ulga odsetkowa - wykazana w części B.1 załącznika PIT/D</b><br>
						 Kwota z poz.107 nie może przekroczyć sumy kwot z poz. 103 i 104 pomniejszonej o kwoty z poz. 105 i 106
					 </div>
					<div class="jedno_pole white">107.</div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1"><b> Odliczenia od dochodu wydatków mieszkaniowych– wykazane w części B.3. załącznika <br>PIT/D</b>
					</div>
					<div class="jedno_pole white">108.</div>
					<div style="clear: both;"></div>
					
					<div class="pustak2"></div>
					<div class="pole_dlugie3"><b>Wydatki mieszkaniowe do odliczenia w roku podatkowym</b><br>
						 Jeżeli kwota z poz.108 jest większa od sumy kwot z poz.103 i 104 pomniejszonej o kwoty z poz.105, 106 i 107, 
						 należy wpisać sumę kwot z poz.103 i 104 pomniejszoną o kwoty z poz.105, 106 i 107; w przeciwnym wypadku 
						 należy wpisać kwotę z poz108
					 </div>
					 <div class="jedno_pole white">109.</div>
					 <div style="clear: both;"></div>
					 
					<div class="pustak3"></div>
					<div class="pustak4"></div>
					<div class="pole_dlugie4">
						<b> Wydatki mieszkaniowe do odliczenia w latach następnych</b><br>
							Od kwoty z poz.108 należy odjąć kwotę z poz.109.
					</div>
					<div class="jedno_pole white">110.</div>
					<div style="clear: both;"></div>
					
					<div class="pole_dlugie1">
						<b>Dochód po odliczeniach</b><br>
						 Od sumy kwot z poz.103 i 104 należy odjąć sumę kwot z poz.105, 106, 107 i 109.
					 </div>
					<div class="jedno_pole white">
						111.<p>{{ odliczenia_P['dochPoOdliczeniach111'] + odliczenia_M['dochPoOdliczeniach111'] }}</p>
					</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="endPage2 borders">
					<div class="page1">PIT-37<sub>(21)</sub></div>
					<div class="page2">2<sub>/4</sub></div>
				</div>
				<div style="clear: both;"></div>
				
			</div><!-- /page two -->
			
			<div id="page_three">
				<div class="poltax_header">
					<div class="poltax37"><p>POLTAX</p></div>
					<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
						MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
					</div>
				</div>
				<hr style="clear: both;">
					
				<div class="e_37 grey borders">
					<h3>E. OBLICZANIE PODATKU</h3>
					<div class="e_37_p pole_dlugie1">
						<b>Podstawa obliczenia podatku</b> (po zaokrągleniu do pełnych złotych)<br>
						 Jeżeli w poz. 6 zaznaczono kwadrat nr 1, należy wpisać kwotę z poz. 111; w pozostałych przypadkach
						 należy wpisać połowę kwoty z poz. 111
					 </div>
					<div class="e_37_i jedno_pole white">
						112.<p>{{ obliczaniePodatku['podstawaOblPodatu112'] }}</p>
					</div>
					<div class="e_37_p pole_dlugie1">
						<b> Obliczony podatek - zgodnie z art. 27 ust. 1 ustawy</b><br>
						 Podatek od podstawy z poz. 112; jeżeli w poz. 6 zaznaczono kwadrat nr 2, 3 albo 4, tak obliczony
						 podatek należy pomnożyć przez dwa; jeżeli wynik jest liczbą ujemną należy wpisać 0
					</div>
					<div class="e_37_i jedno_pole white">
						113.<p>{{ obliczaniePodatku['obliczonyPodatek113'] }}</p>
					</div>
					<div class="e_37_p pole_dlugie1">
						<b>Doliczenia do podatku</b>
					</div>
					<div class="e_37_i jedno_pole white">
						114.<p></p>
					</div>
					<div class="e_37_p pole_dlugie1">
						<b>Podatek</b><br>
						 Do kwoty z poz. 113 należy dodać kwotę z poz. 114
					 </div>
					<div class="e_37_i jedno_pole white">
						115.<p>{{ obliczaniePodatku['podatek115'] }}</p>
					</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="f_37 grey borders">
					<div class="h3_odliczenia"><h3>F. ODLICZENIA OD PODATKU</h3></div>
						<div class="p_podatnik"><p>podatnik</p></div>
						<div class="p_malzonek"><p>małżonek</p></div>
						
						<div class="pole_dlugie1">
							<b>Składki na ubezpieczenia zdrowotne</b><br>
							 Suma kwot z poz. 116 i 117 nie może przekroczyć kwoty z poz. 115
						</div>
						<div class="d_podatnik_i_mal white">116.<p>{{ pkzds_P[29] }}</p></div>
						<div class="d_podatnik_i_mal white">117.<p>{{ pkzds_M[29] }}</p></div>
						<div style="clear: both;"></div>
						
						<div class="pustak"></div>
						<div class="pole_dlugie2">
							w tym zagraniczne, o których mowa w art. 27b ust. 1 pkt 2 ustawy
						</div>
						<div class="d_podatnik_i_mal white">118.</div>
						<div class="d_podatnik_i_mal white">119.</div>
						<div style="clear: both;"></div>
						
						<div class="pole_dlugie1">
							<b> Odliczenia od podatku – wykazane w części C załącznika PIT/O</b><br>
							 Suma odliczanych kwot nie może przekroczyć podatku z poz. 115 pomniejszonego o sumę kwo z poz. 116 i 117.
						 </div>
						<div class="d_podatnik_i_mal white">120.<p>{{ obliczaniePodatku['odliczOdPod120'] }}</p></div>
						<div class="d_podatnik_i_mal white">121.<p>{{ obliczaniePodatku['odliczOdPod121'] }}</p></div>
						<div style="clear: both;"></div>
						
						<div class="pole_dlugie1">
							<b> Podatek po odliczeniach</b><br>
							 Od kwoty z poz. 115 należy odjąć sumę kwot z poz. 116, 117, 120 i 121
						 </div>
						<div class="jedno_pole white">122.<p>{{ obliczaniePodatku['podatekPoOdlicz122'] }}</p></div>
						<div style="clear: both;"></div>
						
						<div class="pole_dlugie1">
							<b> Odliczenia od podatku wydatków mieszkaniowych – wykazane w części C.2 załącznika PIT/D</b>
						</div>
						<div class="jedno_pole white">123.</div>
						<div class="pustak2"></div>
						<div class="pole_dlugie3">
							<b> Ulgi mieszkaniowe do odliczenia w roku podatkowym</b><br>
								  Jeżeli kwota z poz. 123 jest większa od kwoty z poz. 122, należy wpisać kwotę z poz. 122 w przeciwnym 
								  wypadku należy wpisać kwotę z poz. 123
						</div>
						<div class="jedno_pole white">124.</div>
						<div class="pustak3"></div>
						<div class="pustak4"></div>
						<div class="pole_dlugie4">
							<b> Ulgi mieszkaniowe do odliczenia w latach następnych</b><br>
							 Od kwoty z poz. 123 należy odjąć kwotę z poz. 124
						</div>
						<div class="jedno_pole white">125.</div>
						<div style="clear: both;"></div>
				</div>
				
				<div class="g_37 grey borders">
					<h3>G. OBLICZENIE ZOBOWIĄZANIA PODATKOWEGO</h3>
					<div class="pole_dlugie1">
						<b> Podatek należny</b> (po zaokrągleniu do pełnych złotych)<br>
						  Od kwoty z poz.122 należy odjąć kwotę z poz.124
					</div>
					<div class="jedno_pole white">
						126.<p>{{ obliczaniePodatku['podatekNalezny126'] | round(0) }}</p>
					</div>
					<div class="pole_dlugie1">
						<b> Suma zaliczek pobranych przez płatników</b><br>
						 Suma kwot z poz. 67 i 98.
					 </div>
					<div class="jedno_pole white">
						127.<p>{{ razemPKZD_P['zaplaconyPodatek'] + razemPKZD_M['zaplaconyPodatek'] }}</p>
					</div>
					<div class="pole_dlugie1">
						<b> Różnica pomiędzy podatkiem należnym a sumą zaliczek pobranych przez płatników</b>
						<b> DO ZAPŁATY</b><br>
						 Od kwoty z poz.126 należy odjąć kwotę z poz.127. Jeżeli różn. jest liczbą ujemną należy wpisać 0
					 </div>
					<div class="jedno_pole white">
						128.<p>{{ obliczaniePodatku['doZaplaty128'] }}</p>
					</div>
					<div class="pole_dlugie1">
						<b> Różnica pomiędzy sumą zaliczek pobranych przez płatników a podatkiem należnym</b>
						 <b>NADPŁATA</b><br>
						 Od kwoty z poz.127 należy odjąć kwotę z poz.126. Jeżeli różn. jest liczbą ujemną należy wpisać 0
					 </div>
					<div class="jedno_pole white">
						129.<p>{{ obliczaniePodatku['nadplata129'] }}</p>
					</div>
					<div style="clear: both;"></div>
				</div>
				
                
                
                <div class="grey borders">
                    <h3>H. DODATKOWY ZWROT Z TYTUŁU ULGI NA DZIECI</h3>
                    <table id="pit_uz_table_1">
                        <tr>
                            <td class="table_one"></td>
                            <td><p>Podatnik</p></td>
                            <td><p>Małżonek</p></td>
                        </tr>
                        <tr>
                            <td class="table_one">Składki na ubezpieczenie społeczne i zdrowotne 2)</td>
                            <td class="white">130.
                                {% if pitUZ %}
                                    <p>
                                        {{ pkzds_P[28] + pkzds_P[29] }}
                                    </p>
                                {% endif %}
                            </td>
                            <td class="white">131.
                                {% if pitUZ %}
                                    <p>
                                        {{ pkzds_M[28] + pkzds_M[29] }}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="table_one">Różnica między kwotą przysługującego odliczenia a kwotą odliczoną w zeznaniu podatkowym 3)<br>
                            Podatnik - od sumy kwot z poz. 7 części E załącznika PIT/O należy odjąć kwotę z poz. 41 tego załącznika. <br>
                            Małżonek - od sumy kwot z poz. 8 części E załącznika PIT/O należy odjąć kwotę z poz. 42 tego załącznika.  </td>
                            <td class="white">132.
                                {% if pitUZ %}
                                    <p>
                                        {{ dodatkowyZwrot['roznica132'] }}
                                    </p>
                                {% endif %}
                            </td>
                            <td class="white">133.
                                {% if pitUZ %}
                                    <p>
                                        {{ dodatkowyZwrot['roznica133'] }}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="table_one">Przysługująca kwota różnicy 4)<br>
                            Suma kwot z poz. 132 i 133 nie więcej niż suma kwot z poz. 130 i 131.</td>
                            <td colspan="2" class="white">134.
                                {% if pitUZ %}
                                    <p>
                                        {{ dodatkowyZwrot['przyslugujacaKwota134'] }}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="table_one">Łączna kwota zwrotu<br>
                            Suma kwot z poz.129 i 134. </td>
                            <td colspan="2" class="nadplata white">135.
                                <p>{{ dodatkowyZwrot['lacznaKwotaZwrotu135'] }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                
                
                
				<div class="h_37 gre borders">
					<div class="h_info"><h3>I. INFORMACJA O DOCHODACH (PRZYCHODACH)<br>
					WYKAZYWANYCH NA PODSTAWIE ART. 45 UST. 3c USTAWY</h3></div>
					<div class="h_info130 white">136. Kwota dochodów (przychodów)</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="i_37 grey borders">
					<h3> J. WNIOSEK O PRZEKAZANIE 1% PODATKU NALEŻNEGO NA RZECZ ORGANIZACJI POŻYTKU
					 PUBLICZNEGO (OPP) <small>
					 Należy podać numer wpisu do Krajowego Rejestru Sądowego (numer KRS) organizacji wybranej z wykazu prowadzonego przez Ministra Pracy i Polityki Społecznej oraz wysokość kwoty na jej rzecz.</small></h3> 
					 <div class="i_krs white">137. Numer KRS
						<p>{{ jedenProcent[0] }}</p>
					 </div>
					 <div class="i_krs2">
						 <b>Wnioskowana kwota</b><br>
						 Kwota z poz. 132 nie może przekroczyć 1% kwoty z poz. 126, <br>
						 po zaokrągleniu do pełnych dziesiątek groszy w dół
					 </div>
					 <div class="i_krs132 white">138.
						 <p>
						 {% if jedenProcent[0] != '' %}
							{{ (obliczaniePodatku['podatekNalezny126'] * 0.01)|round(1, 'floor') }}
						 {% endif %}
						 </p>
					 </div>
					 <div style="clear: both;"></div>
				</div>
				
				<div class="j_37 grey borders">
					<h3> K. INFORMACJE UZUPEŁNIAJĄCE <small>Podatnicy, którzy wypełnili częśćI, w poz. 133  mogą podać cel szczegółowy 1%,
					a zaznaczając kwadrat w poz. 134 wyrazićzgodęna przekazanie OPP swojego imienia,  nazwiska i adresu wraz z 
					informacjąo kwocie z poz.132. W poz. 135 można podać dodatkowe informacje, np. ułatwiające kontakt z podatnikiem (telefon, e-mail).</small></h3>
					<div class="j_cel133 white">139. Cel szczegółowy 1%
						<p>{{ jedenProcent[1] }}</p>
					</div>
					<div class="j_cel134 white">
						140. Wyrażam zgodę
						<p>[]</p>
					</div>
					<div class="j_cel135 white">141.</div>
					<div style="clear: both;"></div>
				</div>
				
                
                <div class="endPage borders">
					<div class="page1">PIT-37<sub>(21)</sub></div>
					<div class="page2">3<sub>/4</sub></div>
				</div>
				<div style="clear: both;"></div>
				
			</div><!-- /page three -->
			
			<div id="page_four">
			
				<div class="poltax_header">
					<div class="poltax37"><p>POLTAX</p></div>
					<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
						MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
					</div>
				</div>
				<hr style="clear: both;">
                
                
				<div class="k_37 grey borders">
					<h3>L. INFORMACJE O DOŁĄCZONYCH DOKUMENTACH / ZAŁĄCZNIKACH
					<small>W poz. 136-140 należy podać liczbę załączników. Poz. 141 i 142 wypełniają podatnicy, którzy załącznik PIT/D 
					dołączyli do innego niż składane zeznanie. Jeżeli w poz. 141 zaznaczono kwadrat nr 2, należy wypełnić poz. 143.</small></h3>
					<div class="k_pit k_pit_first">
						<div class="k_pit_up"><p>PIT/O</p></div>
						<div class="k_pit_bot white">142.
							{% if pitO %}
								<p>1</p>
							{% else %}
								<p>0</p>
							{% endif %}
						</div>
					</div>
					<div class="k_pit">
						<div class="k_pit_up"><p>PIT/D</p></div>
						<div class="k_pit_bot white">143.
							<p>0</p>
						</div>
					</div>
					<div class="k_pit">
						<div class="k_pit_up"><p>PIT-2K</p></div>
						<div class="k_pit_bot white">144.
							<p>0</p>
						</div>
					</div>
					<div class="k_pit2">
						<div class="k_pit_up">Certyfikat rezydencji</div>
						<div class="k_pit_bot white">145.
							<p>0</p>
						</div>
					</div>
					<div class="k_pit3 white">146. Załącznik PIT/D dołącza do swojego zeznania:
						<p>[] 1. podatnik, [] 2. małżonek</p>
					</div>
					<div class="k_pit4 white">147. Kod formularza, do którego został dołączony załącznik PIT/D:
						<p>[] 1. PIT-28, [] 2. PIT-36. [] 3. PIT-37</p>
					</div>
					<div style="clear: both;"></div>
					<div class="k_pit5 white">
						148. Identyfikator podatkowy, nazwisko i imię młżonka oraz urząd, do którego został złożony załącznik PIT/D
					</div>
					<div style="clear: both;"></div>
				</div>
				
				
				
				<div class="l_37 grey borders">
					<h3>M. OŚWIADCZENIE I PODPIS PODATNIKA / MAŁŻONKA / PEŁNOMOCNIKA <br>
					<small>W przypadku zaznaczenia w poz. 6 kwadratu nr 2, 3 albo 4, kwadratu w poz. 7 lub w poz. 8, oświadczam, iż spełnione są 
					warunki do opodatkowania dochodów w wybrany sposób. W przypadku zastosowania art. 6 ust. 2a ustawy, oświadczam 
					pod rygorem odpowiedzialności karnej za fałszywe zeznanie, że spełniony jest warunek przewidziany w tym przepisie. </small></h3>
					<div class="podpis1 white">149. Podpis podatnika</div>
					<div class="podpis2 white">150. Podpis małżonka</div>
					<div class="pelnomocnik white">151. Imię i nazwisko oraz podpis pełnomocnika</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="m_37 grey borders">
					<h3>N. ADNOTACJE URZĘDU</h3>
					<div class="m_iden_147">147. Identyfikator przyjmującego formularz</div>
					<div class="m_podpis_148">148. Podpis przyjmującego formularz</div>
					<div style="clear: both;"></div>
				</div>
				
				<div class="m_pouczenia uwagi">
					1)  Zgodnie z art. 81 ustawy z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2012 r. poz. 749, z późn. zm.), 
					podatnik może skorygować złożoną deklarację poprzez złożenie deklaracji korygującej wraz z dołączonym pisemnym 
					uzasadnieniem przyczyn korekty.<br>
                    2) Należy wpisać kwotę składek, o których mowa w art. 26 ust. 1 pkt 2 i 2a oraz art. 27b ust. 1 i 2 ustawy, tj. zapłaconych w roku podatkowym
                    i  podlegających  odliczeniu  (wykazanych  przez  płatnika  lub  samodzielnie  wpłaconych  do  ZUS,  lub  zagranicznych  systemów  ubezpieczeń),
                    pomniejszonych o składki odliczone w PIT-36L, PIT-28 lub wykazane jako odliczone w PIT-16A lub PIT-19A. W  przypadku obojga rodziców,
                    opiekunów  prawnych  dziecka,  rodziców  zastępczych,  którzy  pozostająw  związku  małżeńskim  przez  cały  rok  podatkowy,  należy  wypełnić		
                    zarówno poz. 130 jak i poz. 131. Zasada ta obejmuje również podatnika, który zawarł związek małżeński przed rozpoczęciem roku podatkowego
                    a jego małżonek zmarł w trakcie roku podatkowego.<br>
                    3) Poz. 133 wypełnia się jedynie w przypadku łącznego opodatkowania dochodów małżonków (wspólny PIT/UZ).<br>
                    4) W  przypadku obojga rodziców, opiekunów prawnych dziecka,  rodziców zastępczych, którzy pozostająw związku małżeńskim  przez cały rok
                    podatkowy, składających odrębne zeznania PIT-36 albo PIT-37, suma kwot z poz. 134 PIT/UZ każdego z małżonków, nie może przekroczyć sumy
                    kwot z poz. 130 i 131. Na podstawie art. 72 § 1a ustawy z dnia 29 sierpnia 1997 r. – Ordynacja podatkowa (Dz. U. z 2012 r. poz. 749, z późn. zm.),
                    kwotę obliczoną zgodnie z art. 27f ust. 8-10 ustawy traktuje się na równi z nadpłatą.
                    <br>
                    <br>
					<b>Pouczenia </b><br>
					W  przypadku  niewpłacenia  w  obowiązującym  terminie  kwoty  z  poz.  128  lub  wpłacenia  jej  w  niepełnej  wysokości  
					niniejsze  zeznanie  stanowi  podstawędo  wystawienia tytułu wykonawczego, zgodnie z przepisami ustawy z dnia 17 czerwca
					1966 r. o postępowaniu egzekucyjnym w administracji (Dz. U. z 2014 r. poz. 1619). Za podanie nieprawdy lub zatajenie prawdy
					i przez to narażenie podatku na uszczuplenie grozi odpowiedzialność przewidziana w Kodeksie karnym skarbowym.
				</div>
				
				<div class="endPage2 borders">
					<div class="page1">PIT-37<sub>(21)</sub></div>
					<div class="page2">4<sub>/4</sub></div>
				</div>
				<div style="clear: both;"></div>
			
			</div><!-- /page four -->
		</div><!-- /container -->	
	</div><!-- /pit37 -->
	
{% if pitO %}
<div id="pit_o">
	<div class="container">

		<div id="pit_o_page_one">
			
			<div class="poltax_header">
				<div class="poltax37"><p>POLTAX</p></div>
				<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
					MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
				</div>
			</div>
			<hr style="clear: both;">
		
			
			<div class="pit_pesel white">1. Identyfikator Podatkowy NIP / numer PESEL podatnika
				<p>{{ daneOsobowe[0][1] }}</p>
			</div>
			<div class="pit_pesel white">2. Identyfikator Podatkowy NIP / numer PESEL małżonka
				<p>{{ daneOsobowe[1][1] }}</p>
			</div>
			<div style="clear: both;"></div>
			
			
			<div class="pit_o_two">
				<h3>PIT/O</h3>
				<div class="pit_o_informacja"><p>INFORMACJA O ODLICZENIACH OD DOCHODU (PRZYCHODU) I OD PODATKU</p></div>
				<div class="pit_o_d"><p>W ROKU PODATKOWYM</p></div>
				<div class="pit_o_e borders">3. Rok
					<p><script>document.write(new Date().getFullYear() - 1)</script></p>
				</div>
				<div class="pit_o_f borders">4. Nr załącznika<p>1</p></div>
				<div style="clear: both;"></div>
			</div>
			
			<div class="pit_o_zalacznik grey borders">
			Załącznik do zeznań: PIT-28, PIT-36 i PIT-37.<br>
			W przypadku łącznego opodatkowania dochodów małżonków składa się wspólny załącznik PIT/O.<br>
			Jeżeli małżonkowie rozliczają się indywidualnie i każdy z nich korzysta z odliczeń, załącznik PIT/O wypełnia i dołącza
			do swojego zeznania każdy z małżonków, podając w nim dane identyfikacyjne obojga małżonków.
			</div>
			
			<div class="grey borders">
				<h3>A. DANE IDENTYFIKACYJNE</h3>
			</div>
				<div class="pit_dane borders">
					<h3>A.1. DANE PODATNIKA</h3>
					<div class="pit_dane_1 white">5. Nazwisko<p>{{ daneOsobowe[0][2] }}</p></div>
					<div class="pit_dane_2 white">6. Pierwsze imię<p>{{ daneOsobowe[0][3] }}</p></div>
					<div class="pit_dane_2 white">7. Data urodzenia<p>{{ daneOsobowe[0][4] }}</p></div>
				</div>
				<div class="pit_dane borders">
					<h3>A.1. DANE MAŁŻONKA</h3>
					<div class="pit_dane_1 white">8. Nazwisko<p>{{ daneOsobowe[1][2] }}</p></div>
					<div class="pit_dane_2 white">9. Pierwsze imię<p>{{ daneOsobowe[1][3] }}</p></div>
					<div class="pit_dane_2 white">10. Data urodzenia<p>{{ daneOsobowe[1][4] }}</p></div>
				</div>
				<div style="clear: both;"></div>
			
			<div class="grey borders">
				<h3>B. ODLICZENIA OD DOCHODU (PRZYCHODU) - INNE NIŻ MIESZKANIOWE LUB
				BEZPOŚREDNIO WYMIENIONE W ZEZNANIACH PODATKOWYCH</h3>
				Odliczenie z poz. 34 nie może przekroczyć sumy kwot z poz. 42 i 49 pomniejszonej
				o sumę kwot z poz. 62 i 63 zeznania PIT-28, kwoty z poz. 149 zeznania PIT-36, kwoty 
				z poz. 103 zeznania PIT-37. Odpowiedni o odliczenie z poz. 35 nie może przekroczyć
				 kwoty z poz. 150 zeznania PIT-36, kwoty z poz. 104 zeznania PIT-37.
				 
				<table id="pit_o_table_1" border="1" >
					<tr>
						<td colspan="3"></td>
						<td>Podatnik</td>
						<td>Małżonek</td>
					</tr>
					<tr>
						<td rowspan="3">1. Darowizny przekazane: 2)</td>
						<td colspan="2">- organizacjom na prowadzoną przez nie działalność
						pożytku publicznego w sferze zadań publicznych, o których mowa w art. 26
						ust. 1 pkt 9 lit. a ustawy 3)</td>
						<td class="white">11.</td>
						<td class="white">12.</td>
					</tr>
					<tr>
						<td colspan="2">- na cele kultu religijnego, o których mowa w art. 26
						ust. 1pkt 9 lit. b ustawy</td>
						<td class="white">13.</td>
						<td class="white">14.</td>
					</tr>
					<tr>
						<td colspan="2">- na cele krwiodastwa, o których mowa w art. 26 
						ust. 1 pkt 9 lit. c ustawy</td>
						<td class="white">15.</td>
						<td class="white">16.</td>
					</tr>
					<tr>
						<td colspan="3">2. Darowizny wynikające z odrębnych ustaw 2)</td>
						<td class="white">17.</td>
						<td class="white">18.</td>
					</tr>
					<tr>
						<td colspan="3">3. Wydatki na cele rehabilitacyjne oraz wydatki związane z 
						ułatwieniem wykonywania czynności życiowych</td>
						<td class="white">19.</td>
						<td class="white">20.</td>
					</tr>
					<tr>
						<td colspan="3">4. Zwrot nienależnie pobranych świadczeń, które uprzednio zwiększyły dochód
						podlegający opodatkowaniu (w kwotach uwzględniających podatek), jeżeli nie zostały
						one potrącone przez płatnika</td>
						<td class="white">21.</td>
						<td class="white">22.</td>
					</tr>
					<tr>
						<td rowspan="2">5. Wydatki z tytułu użytkowania sieci internet <br>
						Odliczenie przysługuje wyłącznie w kolejno po sobie następujących dwóch latach podatkowych.</td>
						<td rowspan="2" class="white">23. Podatnik korzystał z ulgi internetowej w rozliczeniach<br>
							[ ] 1.  za rok ubiegły <br>
							[ ] 2. za rok (lata) poprzedzający(e) rok ubiegły
						</td>
						<td rowspan="2" class="white">24. Małżonek korzystał z ulgi internetowej w rozliczeniach<br>
							[ ] 1.  za rok ubiegły <br>
							[ ] 2. za rok (lata) poprzedzający(e) rok ubiegły</td>
						
						<td rowspan="2" class="white">25.<p>{{ odliczenia_P['dochMinInternet105i106'] }}</p></td>
						<td rowspan="2" class="white">26.<p>{{ odliczenia_M['dochMinInternet105i106'] }}</p></td>
						
					</tr>
					<tr>
					</tr>
					<tr>
						<td colspan="3">6. Wydatki na nabycie nowych technologii<br>
						Wiersza tego nie wypełniają podatnicy składający załącznik PIT/O wraz z zeznaniem PIT-28.</td>
						<td class="white">27.</td>
						<td class="white">28.</td>
					</tr>
					<tr>
						<td colspan="3">7. Wpłaty na indywidualne konto zabezpieczenia emerytalnego (IKZE)</td>
						<td class="white">29.</td>
						<td class="white">30.</td>
					</tr>
					<tr>
						<td rowspan="2">8. Inne ulgi, niewymienione w wierszach od 1 do 7 4)</td>
						<td colspan="2" rowspan="2" class="white">31. Podać rodzaj:</td>
						<td rowspan="2" class="white">32.</td>
						<td rowspan="2" class="white">33.</td>
					</tr>
					<tr>
					</tr>
					<tr>
						<td colspan="3">Razem odliczenia od dochodu (przychodu)<br>
						Suma kwot z wierszy od 1 do 8.<br>
						Kwotę z poz. 34 należy przenieść do poz. 65 zeznania PIT-28 lub poz. 151 zeznania PIT-36 lub
						poz. 105 zeznania PIT-37.<br>
						Kwotę z poz. 35 należy przenieść do poz. 152 zeznania PIT-36 lub zpo. 106 zeznania PIT-37.</td>
						<td class="white">34.<p>{{ odliczenia_P['dochMinInternet105i106'] }}</p></td>
						<td class="white">35.<p>{{ odliczenia_M['dochMinInternet105i106'] }}</p></td>
					</tr>
				</table>
			</div>
			
			<div class="uwagi">
				1) Należy podać kolejny numer załącznika, oznaczając jako pierwszy załącznik z wypełnioną częścią B lub C<br>
				2) W przypadku wypełnienia tego wiersza, należy wypełnić część D<br>
				3) Ilekroć mowa jest o ustawie oznacza to ustawę z dnia 26 lipca 1991 r. o podatku dochodowym od osób 
				fizycznych (Dz. U. z 2012 r. poz. 361, z późn. zm.).<br>
				4) Wiersz ósmy w części B wypełnia się, jeżeli obowiązujące przepisy przewidują dokonanie odliczeń od dochodu 
				(przychodu) z tytułów innych niżwymienione w wierszu od 1 do 7 części B, odpowiednio wiersz piąty w części C 
				wypełnia się, jeżeli obowiązujące przepisy przewidują dokonanieodliczeń od podatku z tytułów innych niż wymienione 
				w wierszu od 1 do 4 części C
			</div>
			
			<div class="endPage borders">
				<div class="page1">PIT-O<sub>(19)</sub></div>
				<div class="page2">1<sub>/2</sub></div>
			</div>
			<div style="clear: both;"></div>
			
		</div> <!-- /pit_o_page_one -->
			
		<div class="pit_o_page_two">	
		
			<div class="poltax_header">
				<div class="poltax37"><p>POLTAX</p></div>
				<div class="poltax37_two">POLA JASNE WYPEŁNIA PŁATNIK, POLA CIEMNE WYPEŁNIA URZĄD SKARBOWY. WYPEŁNIAĆ
					MASZYNIE, KOMPUTEROWO LUB RĘCZNIE DUŻYMI, DRUKOWANYMI LITERAMI, CZARNYM LUB NIEBIESKIM KOLOREM.  
				</div>
			</div>
			<hr style="clear: both;">
		
		
		
			<div class="grey borders">
				<h3>C. ODLICZENIA OD PODATKU - INNE NIŻ MIESZKANIOWE LUB BEZPOŚREDNIO WYMIENIONE W ZEZNANIACH PODATKOWYCH<br>
					<small>W przypadku:</small></h3>
				<div class="pit_o_c_instr">
					1) Podatników rozliczających się indywidualnie, odliczenie z poz. 48 nie może przekroczyć:<br>
					- kwoty z poz. 98 pomniejszonej o kwotę z poz. 99 zeznania PIT-28,<br>
					- kwoty z poz. 181 pomniejszonej o kwotę z poz. 182 zeznania PIT-36,<br>
					- kwoty z poz. 115 pomniejszonej o kwotę z poz. 116 zeznania PIT-37,
				</div>
				<div class="pit_o_c_instr">
					2) łącznego opodatkowania dochodów małżonków, suma kwot z poz 48 i 49 nie może przekroczyć:<br>
					- kwoty z poz. 181 pomniejszonej o kwot z poz. 182 i 183 zeznania PIT-36,
					- kwoty z poz. 115 pomniejszonej o kwoty z poz. 116 i 117 zeznania PIT-37.
				</div>
				<div style="clear: both;"></div>
				
				<table id="pit_o_table_2" border="1">
					<tr>
						<td colspan="3"></td>
						<td>Podatnik</td>
						<td>Małżonek</td>
					</tr>
					<tr>
						<td colspan="3">1. Ulga za wyszkolenie uczniów z tytułu zatrudnienia pracowników w celu przygotowania
						zawodowego, przyznana na podstawie decyzji</td>
						<td class="white">36.</td>
						<td class="white">37.</td>
					</tr>
					<tr>
						<td colspan="3">2. Składki na ubezpieczenia społeczne opłacone przez osobę prowadzącą gospodarstwo domowe
						z tytułu zawarcia umowy aktywizacyjnej z osobą bezrobotną</td>
						<td class="white">38.</td>
						<td class="white">39.</td>
					</tr>
					<tr>
						<td colspan="2">3. Ulga, na dzieci 5)<br>
						Wiersza tego nie wypełniają podatnicy składający załącznik PIT/O wraz z zeznaniem PIT-28.</td>
						<td class="white">40. Liczba dzieci<p>{{ danePanel[5]|int }}</p></td>
						<td class="white">41.<p>{{ obliczaniePodatku['odliczOdPod120'] }}</p></td>
						<td class="white">42.<p>{{ obliczaniePodatku['odliczOdPod121'] }}</p></td>
					</tr>
					<tr>
						<td colspan="3">4. Ulga, o której mowa w art. 27g ustawy</td>
						<td class="white">43.</td>
						<td class="white">44.</td>
					</tr>
					<tr>
						<td>5. Inne ulgi, niewymienione w wierszach od 1 do 4 4)</td>
						<td colspan="2" class="white">45. Podać rodzaj:</td>
						<td class="white">46.</td>
						<td class="white">47.</td>
					</tr>
					<tr>
						<td colspan="3"><b>Razem odlczenia od podatku</b><br>
						Suma kwot z wierszy 1 do 5.<br>
						Kwotę z poz. 48 należy przenieść do poz. 101 zeznania PIT-28 lub poz. 186 zeznania PIT-36 lub poz. 
						120 zeznania PIT-37.<br>
						Kwotę z poz. 49 należy przenieść do poz. 187 zeznania PIT-36 lub poz. 121 zeznania PIT-37.</td>
						<td class="white">48.<p>{{ obliczaniePodatku['odliczOdPod120'] }}</p></td>
						<td class="white">49.<p>{{ obliczaniePodatku['odliczOdPod121'] }}</p></td>
					</tr>
				</table>
			</div>
			
			<div class="pit_o_d_darowizny grey borders">
				<h3>D. INFORMACJE O PRZEKAZANYCH DAROWIZNACH ORAZ O OBDAROWANYCH 6)</h3>
			</div>
			
			
			<div class="grey borders">
				<h3>E. INFORMACJA O DZIECIACH WYKAZANYCH W POZ. 40 7) <br>
				<small>W odniesieniu do każdego dziecka należy podać jego numer PESEL,  w przypadku braku tego numeru imię, 
				nazwisko oraz datę urodzenia dziecka.</small></h3>
			</div> <!-- /pit_o_e_dzieci -->
			
			{% if (danePanel[5]|int) != 0 %}
			{% for number in range(1, ((danePanel[5]|int) + 1)) %}
			<div class="grey borders">
				<h3>E.{{ number }}. DANE IDENTYFIKACYJNE DZIECKA ( {{ number }} )</h3>
				<div class="pit_o_dziecko white">2. Pierwsze imię</div>
				<div class="pit_o_dziecko white">1. PESEL</div>
				
				
				<div class="pit_o_e1_nazwisko white">3. Nazwisko</div>
				<div class="pit_o_e1_data white">4. Data urodzenia (dzień-miesiąc-rok)</div>
				
				<div style="clear: both;"></div>
				
				<table id="pit_o_table_3" border="1">
					<tr>
						<td rowspan="2">Miesiące, za które przysługuje odliczenie</td>
						<td colspan="2">Podatnik</td>
						<td colspan="2">Małżonek</td>
					</tr>
					<tr>
					
					{% if number == 1 %}
						{% if ktoDzieci[0] == 1.0 %}
						<td colspan="2" class="white">5. 
							{% if ileMiesiecy[0] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[0]|int }}</b>
						</td>
						<td colspan="2" class="white">6. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						{% endif %}
						
						{% if ktoDzieci[0] == 2.0 %}
						<td colspan="2" class="white">5. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						<td colspan="2" class="white">6. 
							{% if ileMiesiecy[0] == 12 %}
							<b>[X]</b> Cały rok
							{% else %} 
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[0]|int }}</b>
						</td>
						{% endif %}
					{% endif %}
					
					{% if number == 2 %}
						{% if ktoDzieci[1] == 1.0 %}
						<td colspan="2" class="white">5. 
							{% if ileMiesiecy[1] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[1]|int }}</b>
						</td>
						<td colspan="2" class="white">6. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						{% endif %}
						
						{% if ktoDzieci[1] == 2.0 %}
						<td colspan="2" class="white">5. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						<td colspan="2" class="white">6. 
							{% if ileMiesiecy[1] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[1]|int }}</b>
						</td>
						{% endif %}
					{% endif %}
					
					{% if number == 3 %}
						{% if ktoDzieci[2] == 1.0 %}
						<td colspan="2" class="white">5. 
							{% if ileMiesiecy[2] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[2]|int }}</b>
						</td>
						<td colspan="2" class="white">6. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						{% endif %}
						
						{% if ktoDzieci[2] == 2.0 %}
						<td colspan="2" class="white">5. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						<td colspan="2" class="white">6. 
							{% if ileMiesiecy[2] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[2]|int }}</b>
						</td>
						{% endif %}
					{% endif %}
					
					{% if number == 4 %}
						{% if ktoDzieci[3] == 1.0 %}
						<td colspan="2" class="white">5. 
							{% if ileMiesiecy[3] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[3]|int }}</b>
						</td>
						<td colspan="2" class="white">6. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						{% endif %}
						
						{% if ktoDzieci[3] == 2.0 %}
						<td colspan="2" class="white">5. [] Cały rok<br>
						Ilość miesięcy za które przysługuje odliczenie: 0</td>
						<td colspan="2" class="white">6. 
							{% if ileMiesiecy[3] == 12 %}
							<b>[X]</b> Cały rok
							{% else %}
							[] Cały rok
							{% endif %}
							<br>
							<b>Ilość miesięcy za które przysługuje odliczenie: {{ ileMiesiecy[3]|int }}</b>
						</td>
						{% endif %}
					{% endif %}
					</tr>
				</table>
			</div>
			{% endfor %}
			{% endif %}
			
			<div class="grey borders">
				Przysługujące odliczenie z tytułu ulgi na dzieci 8) <br>
				<div class="kwota_podatnik white">7.<p></p></div>
				<div class="kwota_malzonek white">8.<p></p></div>	
				<div style="clear: both;"></div>
			</div>
			
			<div class="endPage2 borders">
				<div class="page1">PIT-O<sub>(19)</sub></div>
				<div class="page2">2<sub>/2</sub></div>
			</div>
			<div style="clear: both;"></div>
			
		</div> <!-- /pit_o_page_two -->
	</div> <!--container-->		
</div> <!-- PIT/O -->
{% endif %}



{% endblock %}